[2020-07-22 14:04] danieljanes opened #340 "Document strategy interface"
Flower enables developers and researchers to implement custom federated learning algorithms using the `Strategy` interface. This interface should be documented with explanations on how to use it and a working example of a custom strategy implementation.

[2020-07-22 14:07] danieljanes opened #341 "Document Flower architecture"
Document the general architecture of Flower:

- Server side: Communication, strategies
- Client side: Communication, callback methods, protocol-level integration
- Extended: Baselines, ops, etc.

[2020-07-22 14:07] tanertopal opened #342 "Create Java Client SDK"
Create a Java Client SDK to make it easier to start with Java/Android.

[2020-07-22 14:10] tanertopal opened #343 "Create a TensorFlow specific tutorial"
Create an advanced tutorial for a use-case realised with TensorFlow.

[2020-07-22 14:13] danieljanes opened #344 "Document available strategy implementations"
Flower provides a few popular FL algorithms out-of-the-box. Those implementations along with their configuration parameters should be documented to help users understand what's already available.

[2020-07-22 14:13] tanertopal opened #345 "Rename `Setting` client to `Baseline`"
Rename the class `Setting` in

to `Baseline`.

This will make it easier to understand at various places.

[2020-07-22 14:15] tanertopal opened #346 "Create a PyTorch specific tutorial"
Create an advanced tutorial for a use-case realised with PyTorch.

[2020-07-22 14:18] danieljanes opened #347 "Release process"
Define and document the release process.

Topics include:
- Define how to manage releases (e.g., branching, tags, …)
- Document release note handling
- Document where (and how) build artifacts are published

[2020-07-22 14:21] tanertopal opened #348 "Environment setup script"
Create a convenience script which configures a fresh Ubuntu system so that a default coding environment is created. The Purpose is to ease the onboarding process for new contributors.

- Install / configure PyEnv
- Configure VSCode
- Install VSCode extensions
  - gRPC/protobuf
  - Python

Alternative ideas to evaluate:

- Visual Studio Code Remote - Containers.

[2020-07-22 14:25] danieljanes opened #349 "Standalone examples w/ own pyproject.toml"
Currently, examples are located in `src/flwr_example/...`. The extras required by those examples are mentioned in the general `pyproject.toml`. This structure makes it difficult to "just copy and paste" examples.

A better approach would be to move examples into a top-level `examples` directory and treat every example as a standalone project (i.e., give each example its own `pyproject.toml`).

[2020-07-22 14:30] danieljanes opened #350 "Publish versioned documentation"
Currently, `flower.dev` only shows the latest documentation. Documentation of older versions of Flower should remain available (users need to be able to switch between the documentation for different versions).

[2020-07-24 08:06] danieljanes opened #352 "New baseline: MNIST + FedAvg"
Create a new baseline for MNIST and FedAvg, as described in McMahan et al., 2017 (https://arxiv.org/abs/1602.05629):
- 100 partitions
- IID case and non-IID case
- Two-layer CNN

[2020-07-24 08:29] tanertopal opened #353 "Remove need for .flower_ops file"
Currently when running the baseline we have to create a .flower_ops file to set various configs.We would like to remove the need for the config file as most of the settings in there could be automated.

The file contains

**Path configuration**

Which could be automatically obtained by a lookup in the dist directory.

**AWS configs**

- Using the default VPC a subnet which has enough capacity to s

[2020-07-24 09:00] tanertopal opened #354 "Move datasets code for baselines into different repository/package"
Currently the federated datasets for the baselines are generated on demand in [flwr_experimental/baseline/dataset](https://github.com/adap/flower/tree/main/src/flwr_experimental/baseline/dataset) and cached afterwards. The cache will be used if present.
We would like to move the datasets code into a different repository named e.g. federated-datasets and host the generated datasets for everyone to

[2020-07-24 10:10] danieljanes opened #355 "Document Federated Learning 101"
The Flower docs would benefit from having a general "Federated Learning 101" which presents the basic ideas, concepts, and terminologies around federated learning.

[2020-07-24 10:15] danieljanes opened #356 "Implement Secure Aggregation"
Secure aggregation [Bonawitz et al., 2017] is an important element of many FL workloads. We need to add a way to use secure aggregation within different strategies, ideally in a modular way (i.e., there is one secure aggregation implementation which can easily be plugged into different strategy implementations).

Paper: https://eprint.iacr.org/2017/281.pdf

[2020-07-24 10:18] danieljanes opened #357 "Persist Model During Training"
Mode persistence is currently only possible via custom strategy implementations. There should be a better way to do save model checkpoints periodically, ideally in a modular way which is reusable across different strategy implementations.

[2020-07-24 10:20] tanertopal opened #358 "JavaScript/TypeScript SDK"
To support more heterogeneous environments/setups it would be great to have JavaScript/TypeScript Client SDK. The task shouldn't be to hard as [gRPC-Web](https://github.com/grpc/grpc-web) improved substantially. We are happy to support if someone wants to tackle this issue and ideally provide an example with e.g. TensorFlow Lite.
A potential use-case could be improving an image classification mode

[2020-07-24 10:21] danieljanes opened #359 "Document Examples"
The Flower docs contain only a general overview of the available examples. It would be beneficial (especially for first time users) to have a more detailed documentation for individual examples.

[2020-07-24 10:28] danieljanes opened #360 "New baseline: Shakespeare + LSTM"
A common baseline for FL is based on the Shakespeare dataset (e.g., McMahan et al., 2017).

[2020-07-24 10:30] danieljanes opened #361 "Document executing baselines"
The Flower docs contain only a general overview of the available baselines. It would be great to document individual baselines more thoroughly and have detailed descriptions on how to execute/reproduce them.

[2020-07-24 10:31] tanertopal opened #362 "Flutter SDK"
To support more heterogeneous environments/setups it would be great to have Flutter Client SDK. We are happy to support if someone wants to tackle this issue and ideally provide an example with e.g. TensorFlow Lite.
A potential use-case could be improving an image classification model as described in the TF Lite docs.

[2020-07-24 10:35] danieljanes opened #363 "C++ Client SDK"
# Description

C++ is one of the most defining programming languages of our time. It is used in many critical applications and the go-to language for performance-sensitive applications, such as robotics or automotive. Federated Learning can enable entirely new platforms in these domains and we thus want to support C++ by providing a Flower C++ SDK. Flower communicates between the server and the cl

[2020-08-05 12:04] danieljanes opened #372 "Replace individual mypy flags with `strict = True`"
The mypy configuration in `mypy.ini` uses several flags to increase strictness.

To simplify this setup and automatically opt-in to upcoming strictness flags in future mypy versions, it would be preferable to replace those individual flags with the single `strict = True` setting.

[2020-08-05 12:14] danieljanes opened #373 "Move Python packages under `src/py`"
Python packages are currently located under `src`, along with ProtoBuf definitions in `src/proto`.

To have a clean structure for upcoming SDKs in other languages (Java, Swift, C++, ...), the Python packages should be moved under `src/py`. The resulting structure would enable other languages to be placed under `src` in a clean way:

[code]

[2020-08-05 14:44] danieljanes opened #375 "Upgrade build tools to their latest versions"
Upgrade:

- [ ] pip
- [ ] setuptools
- [ ] poetry

[2020-08-05 14:47] danieljanes opened #376 "Upgrade to PyTorch 1.6"
Upgrade all torch dependency to 1.6 (torchvision 0.7) which hopefully improves PyTorch-related mypy type checks.

[2020-08-06 13:20] #373 closed

[2020-08-17 10:06] #372 closed

[2020-08-19 15:04] danieljanes opened #388 "Document server-side and client-side evaluation"
Flower offers both server-side and client-side evaluation, but the ways to use it are not documented yet.

[2020-09-29 13:11] altor opened #408 "execution of client example crash after training is terminated"
Hello !

I'm trying to use the example you provide ([quickstart](https://github.com/adap/flower/tree/main/src/py/flwr_example/quickstart) and [tensorflow](https://github.com/adap/flower/tree/main/src/py/flwr_example/tensorflow)). I achieve to train models but clients can't achieve to stop themselves without crashing.

I just run `run_server.sh` and `run_clients.sh` in separate terminals, see the c

[2020-10-14 12:23] danieljanes commented on #408
Hi @altor - thanks for creating the issue! We are aware of this, the reason for this exception is that the current `Client`/`KerasClient` implementations do not implement a *graceful shutdown* when the server is done training. We'll soon release an update that fixes the issue :) until we do, if the server shows the final accuracy/loss logs, your workload ran successfully.

[2020-10-14 21:42] Martiniann opened #430 "Is it possible to have Federated Learning on Cloud-Edge?"
Hi everyone,

Currently I am working on a school project about federated learning and came across your framework during exploratory analysis. My project should utilize federated learning in this manner - I have an aggregation server (let's say in a cloud). I want this server to provide model to my 2 Raspberry PIs. These two RPIs would then train the model on a local data for x epochs and provide t

[2020-10-15 14:13] danieljanes commented on #430
Hi @Martiniann ,

yes, this is possible!

Let's assume you want to do something similar to our Keras Quickstart: `https://flower.dev/quickstart_keras.html`

In your case you would:
1. Start the server on you cloud machine `$ python server.py`
2. Start one client on your Raspberry Pi: `$ python client.py`
3. Start the second client on your other Raspberry Pi: `$ python server.py`

Just make sure th

[2020-10-15 14:19] altor commented on #408
Ok, For the moment, i'll just catch the exception and close the client properly
Thanks for your answer !

[2020-10-15 14:27] danieljanes commented on #408
We'll update this issue once the change has landed.

[2020-10-15 14:34] altor commented on #408
Thanks !

[2020-10-19 05:13] yinfredyue opened #433 "Not able to run example in flwr_example/quickstart_pytorch"
I cannot run
[code]

But I can run the other example
[code]

[2020-10-20 11:30] danieljanes commented on #433
Thanks for the report @yinfredyue , we're looking into it.

[2020-10-20 12:34] tanertopal commented on #433
@yinfredyue We just made a new release 0.9.0. Could you please update and try it again?

[2020-10-28 00:13] yinfredyue commented on #433
I am afraid the problem still exists.

[2020-10-28 13:29] danieljanes commented on #433
@yinfredyue thanks for the feedback. How are you trying to run the script? Are you using the `flwr` package from PyPI or did you clone the GitHub repository?

[2020-10-31 00:51] yinfredyue commented on #433
I cloned the repo.

I found the reason. The path in `run-server.sh` is wrong:

[code]

Shall I create a PR to fix the issue?

[2020-10-31 09:25] danieljanes commented on #433
Ah cool, yes, a PR would be great @yinfredyue

[2020-11-04 14:48] CanTuerk opened #446 "Poetry Update"
Update Poetry version to 1.1.4

[2020-11-05 16:01] danieljanes opened #448 "Rename `rnd` to `fl_round`"
`rnd` might be mistaken for *random*, thus we should perhaps rename it to `fl_round` (other suggestions are welcome)

Note: this would be an incompatible change.

[2020-11-06 15:30] danieljanes commented on #408
PR is ready: #449

[2020-11-06 17:10] #446 closed

[2020-11-06 17:57] tanertopal commented on #433
@yinfredyue we just checked the scripts. The `cd` statements are not relevant in these scripts. To avoid confusion in the future we are removing them.
The `python -m flwr_example.quickstart_pytorch.server` call should load the example server from your installed version of the Flower library.
There might be something we are not thinking of so maybe you could elaborate how you installed Flower?

[2020-11-06 18:19] danieljanes commented on #408
PR is merged, graceful shutdown is available on branch main. New release will follow shortly.

[2020-11-07 13:29] danieljanes opened #452 "Update PyPI classifier to `4 - Beta`"
Once all issues required for beta status are resolved, update the PyPI classifier to `4 - Beta`.

[2020-11-07 13:30] danieljanes opened #453 "Python 3.9 compatibility"
The Flower codebase itself is Python 3.9 ready. Some dependencies are however not yet Python 3.9 compatible, so we need to wait until those dependencies are ready.

[2020-11-07 13:32] danieljanes commented on #453
Removing this as a requirement for beta status since we don't control the roadmaps of downstream dependencies.

[2020-11-07 13:35] danieljanes opened #454 "Upgrade to NumPy 1.19 and remove numpy-stubs"

[2020-11-07 13:35] danieljanes opened #455 "Remove obsolete baseline settings"

[2020-11-08 14:42] yinfredyue commented on #433
Yeah, you are right. Previously I was thinking it is loading files in `flwr_example/`.
I just tried it, indeed, changing `cd` is not relevant. But I did get errors (like in my first comment) when I ran it before.
I reinstalled `flwr` and it works.

Thank you!

[2020-11-08 14:49] yyin-dev opened #456 "Change strategy"
Is it possible to provide some documentation/tutorials on how to change/customize the training strategy? Thanks!

[2020-11-08 15:03] #433 closed

[2020-11-08 16:02] danieljanes commented on #456
Yes, absolutely, this is one of our most pressing documentation issues: #340

Do you want to customize parameters of existing strategies or implement a fully custom strategy?

We're aware that the documentation doesn't explain those things yet, feel free to reach out via `contact@adap.com`, we'd be happy to help you in the meantime.

[2020-11-08 16:03] danieljanes opened #459 "Improve docstring for `start_client`"

[2020-11-08 16:03] danieljanes opened #460 "Improve docstring for `start_keras_client`"

[2020-11-08 16:07] danieljanes opened #461 "Improve docstring for `KerasClient`"

[2020-11-08 16:07] danieljanes opened #462 "Improve docstring for `Client`"

[2020-11-08 16:07] danieljanes opened #463 "Improve docstring for `start_server`"

[2020-11-08 16:07] danieljanes opened #464 "Improve docstring for `Strategy`"

[2020-11-08 16:14] yinfredyue commented on #456
I want to implement new strategies. I have browsed through the library code and have some rough ideas, but it still looks hard. I believe a tutorial/walkthrough would be great helps.
Just curious, when do you expect this documentation to be finished? :)

[2020-11-08 16:54] #459 closed

[2020-11-08 16:54] #460 closed

[2020-11-08 17:37] #463 closed

[2020-11-09 01:36] yinfredyue commented on #433
I re-examine the issue. Previously I get confused with `python -m` command. Apparently, it looks for local modules first, and if not found, global modules. For example, if we run `python -m flwr_experiemental.logserver.server`.
If we run in `flower/src/py/`, Python runs the local version, `flwr_experimental/logserver/server.py`, (which is what user of the framework want);
If we run in other direct

[2020-11-09 09:55] altor commented on #408
thanks !

[2020-11-09 11:28] danieljanes commented on #408
@altor the new release 0.10.0 is now available on PyPI

[2020-11-09 11:28] #408 closed

[2020-11-09 11:45] danieljanes commented on #461
Released in 0.10.0

[2020-11-09 11:45] #461 closed

[2020-11-10 07:32] danieljanes commented on #456
We might actually have a first version by the end of this week :)

[2020-11-10 08:44] tushar-semwal opened #468 "Is there any Secured Aggregation implemented?"

[2020-11-10 09:37] yinfredyue opened #469 "Asynchronous Strategy"
I am interested in doing async FL using Flower. However, no async strategy is provided by Flower.
The Flower paper indicates that to change another strategy, we just need to implement a new `Strategy`. However, I think `server.py` is intrinsically synchronous, and not suitable for asynchronous strategies. In other words, to do asynchronous training, we need to change `server.py`.

Consider the cod

[2020-11-10 09:38] yinfredyue commented on #456
Thank you. Looking forward to that!

[2020-11-10 09:56] danieljanes commented on #468
Hi @tushar-semwal , we haven't implemented it yet, but it's one of our top priorities. Would you be interested in contributing?

[2020-11-10 10:05] danieljanes commented on #469
Your description is accurate - the current server implementation (and the provided strategies) assume synchronous FL in the sense that the learning process progresses in rounds. It can decide to ignore stragglers and other misbehaving clients, but it does not offer a way to apply computation results as they come in.

The underlying networking and client code doesn't prevent this though, we could t

[2020-11-10 11:05] tushar-semwal commented on #468
Unfortunately I am on limited bandwidth for a few months. Apologies @danieljanes.

[2020-11-10 11:13] yinfredyue commented on #469
Thank you for the timely reply.
Do you have any plan to support `Async` soon? I am doing a project on async FL and decide to use FL. I may be able to contribute.

[2020-11-10 15:52] danieljanes commented on #469
We have no immediate plans to support it, our priority right now is to improve docs and clean up a few things before we declare beta status.

But we do welcome contributions! If you're interested in implementing a prototype you can open a PR and we'll give feedback and help you along the way :)

[2020-11-10 17:34] danieljanes commented on #468
No worries @tushar-semwal , I just mentioned it because we welcome contributions!

[2020-11-10 17:37] danieljanes commented on #456
A first step towards better Strategy documentation is in #470, which improves the docstrings of the Strategy abstractions. All strategies are derived from this abstract base class, so hopefully the docstings help with implementing them.

[2020-11-11 07:53] pedropgusmao commented on #464
Are we sticking to a specific docstring style? I found a few [here](http://daouzli.com/blog/docstring.html) that we could choose from. I particularly like the Numpydoc.

[2020-11-11 08:01] danieljanes commented on #464
Good question - we've never defined and documented the style we want to use for Flower, but you're right, we should pick one and declare it as the official style. It should be one that plays well with Sphinx to enable us to link to other parts of the codebase from the docstring itself. We've also started to use docformatter, so it would be good to pick a style that docformatter understands.

Perha

[2020-11-11 08:04] danieljanes commented on #464
Btw, I like the Numpydoc style as well. We sometimes have rather involved type signatures, so it helps to have a dedicated line for that. We should also pick a style that makes it clear which parameters are optional and what their default values are.

[2020-11-11 08:05] pedropgusmao commented on #376
Project has been upgraded to PyTorch version 1.7

[2020-11-11 08:05] #376 closed

[2020-11-11 12:25] 4knahs commented on #347
Tags on releases would be very welcome, right now its hard to decide if one should update their flower version as one has to check commits and there is no changelog or description of updates.

[2020-11-11 13:45] danieljanes commented on #347
@4knahs fully agree.

[2020-11-11 16:38] #464 closed

[2020-11-11 16:46] danieljanes commented on #347
We've tagged the commit of the latest 0.10.0:

https://github.com/adap/flower/releases/tag/v0.10.0

[2020-11-12 16:14] pedropgusmao opened #472 "Improve website menu display"
Should we consider using a different theme structure for the menu in the website? Something like
[code]

And maybe a different Sphinx theme? I found this: https://sphinx-themes.org/

[2020-11-13 12:06] danieljanes commented on #472
Yes, a better organization of the docs would be great. I'm also in favor of using a new theme if we find one that matches the style of the website.

[2020-11-13 12:14] pedropgusmao commented on #472
Okay, I'm learning Sphinx to be able to modify it properly.

[2020-11-17 17:34] tanertopal opened #473 "Add docformatter to the dev scripts and check in the CI if formatting is required"
# Description
Docformatter automatically formats docstrings to follow a subset of the PEP 257 conventions. Add docformatter to the Flower project.

# Tasks
- [x] Add docformatter script
- [x] Add check to CI

[2020-11-19 23:02] danieljanes commented on #456
Strategy documentation is making progress: #478

[2020-11-20 14:53] #473 closed

[2020-11-20 15:10] #340 closed

[2020-11-20 16:56] danieljanes commented on #456
First step towards strategy documentation was merged: https://flower.dev/docs/strategies.html

[2020-11-22 10:23] sidheek opened #485 "FL and privacy preserving techniques"
Federated averaging is being mentioned in the paper but not much about secured aggregation. What all privacy preserving and FL techniques are implemented?

Can the framework be deployed on institutions with different infrastructure? For example for healthcare institutions where the edge devices will be inside the institutions firewall.

[2020-11-22 15:34] danieljanes commented on #485
Thanks for your question @sidheek .

**Deployment** Flower clients can be deployed almost everywhere, which includes healthcare institutions and devices behind a firewall. We're planning to provide guides on how to do this, but in essence you just need to make sure that the client process can establish a connection to the server:

server.py:
[code]

client.py:
[code]

Start the client on any devic

[2020-11-27 14:13] patselle opened #487 "Saving Global Model Parameters"
Hi,

I am currently trying out the flower framework under pytorch.
I am very surprised how well it works.
One thing is still unclear to me, after the federated-learning process is over, i would like to save the new global model parameters on the clients, after the server distribute them to all clients.
How is that possible, or where to implement them, if not already done?

And why is min_fit_clien

[2020-11-27 21:02] danieljanes commented on #487
Thanks for the feedback @patselle !

For saving the model, there are currently two ways to do it:

1. Implement a custom strategy that saves the weights before returning them from `aggregate_fit` (see the example below)
2. (hacky) save them via the `eval_fn`

I've put together a quick example on how to do this in the following draft PR:

https://github.com/adap/flower/pull/488/files#diff-206567616

[2020-11-28 10:10] patselle commented on #487
@danieljanes thank you very much!

[2020-11-28 16:43] danieljanes commented on #487
Progress on the built-in model saving will be tracked in #357

[2020-11-28 16:44] danieljanes opened #489 "Generalize `client.fit` return values"

[2020-11-28 16:45] danieljanes opened #490 "Generalize `client.evaluate` return values"

[2020-11-28 16:46] danieljanes opened #491 "PoC for self-contained examples"

[2020-11-28 16:49] danieljanes opened #492 "Migrate examples to self-contained projects"
Migrate the remaining examples once we've found a good structure ( #491 )

[2020-11-28 20:33] vtsouval opened #493 "Multiple clients control from one thread"
Is it possible to control more than one client with one fl.client.start_client() command, to avoid creation of multiple threads?

For example for a VisionClassificationClient client:

clients = [ VisionClassificationClient(client_setting.cid,model,xy_train,xy_test) for client in range(10)]
fl.client.start_client(server_address, clients)

[2020-11-29 20:30] danieljanes commented on #493
Thanks for the question @vvv94 . What you're suggesting isn't possible yet, but it could be a nice improvement.

Some background: Flower currently uses one process per client because it isolates clients from each other. That allows systems researchers to create custom scenarios, e.g., to limit the resources (network/compute/...) one client has over the others. This also isolates the ML framework (

[2020-11-30 01:05] vvv94 commented on #493
Running a large number of processes/threads on the same time could indeed cause many problems. For example, I am unable to run in the same machine more than 20 clients.I am trying to create an example to start multiple clients using multiprocessing/threading, but it does not seem to work.
I also believe that starting multiple clients from the same python thread and regulating the training/evaluati

[2020-12-01 06:16] patselle commented on #487
Hi @danieljanes,
sorry for writing you again, some questions and maybe suggestions.

First, I have added your code snipped and the global model is now saved on the server.

I am and maybe some other Federated Learning applications are interested in distributing the global model to the clients, as they want to benefit from each other. At the moment this is done in the mnist.py evaluate method (pyto

[2020-12-02 13:58] danieljanes commented on #487
Thanks for your questions @patselle.

Regarding initial weights: it's true that the server takes the weights of one random client, which is a workaround that accounts for the fact that we do not want to force the user to put model initialization code on the server side. However this does not mean that we shouldn't provide this functionality, I think it could be a great addition to the `Strategy` i

[2020-12-02 14:11] danieljanes commented on #493
Thanks for providing more details @vvv94 . I agree that having a way to start clients in a more resourceful way could be a great feature, especially for research and simulations.

We are thinking about different ways to do this:
1. Stop clients which are not active entirely (i.e., kill the process) - that would mean that only clients which are used for training/evaluation are running in an active

[2020-12-02 14:24] patselle commented on #487
Hello @danieljanes,

what I meant is that after step 5 or 6 all clients get the new model from the server (without or with federated evaluation) and saves it locally. So these clients can use the model to make predictions on local data as an example. In other words, the client serves as a participant of Federated Learning and receives the new model to work with (not only the server).

Currently I

[2020-12-02 15:39] danieljanes commented on #487
Ah, I see what you mean. There are two ways to do it via the `Strategy`:

1. Save it in `Client.evaluate` (as you suggested) - you could even implement your `Strategy` in a way that always samples all clients for evaluation (so that all clients receive the global model parameters), but use the `config` received by `Client.evaluate` to tell only a subset of clients to do the actual evaluation.
2. A

[2020-12-02 16:31] patselle commented on #487
Thank you, I will try it ;)

[2020-12-03 11:18] danieljanes opened #499 "Server-side model parameter initialization"
The current server implementation uses the parameters of a single (random) client as the initial global model parameters. This works well for simple cases, however, some users require better control over model initialization (as discussed in #487).

Server-side model initialization could be provided via the `Strategy` abstraction.

Implementation proposal:

1. Add new `Strategy` non-abstract metho

[2020-12-03 11:20] danieljanes commented on #487
Initial ideas for server-side parameter initialization: #499 @patselle, what do you think about the proposal?

[2020-12-03 11:54] pedropgusmao opened #500 "Create log level ERROR"

[2020-12-03 13:02] danieljanes opened #501 "Generalize `config` values"
A `Strategy` can pass arbitrary values to each client's `fit`/`evaluate` method via the `config` parameter. `config` is of type `Dict[str, str]`. This could be generalized to allow something like `Dict[str, Any]`, which prevents users from transforming values to/from `str`.

[2020-12-03 13:22] tanertopal opened #502 "Check if tensorflow==2.3.1 is installable with poetry"
# Description
Previously we had the issue that `tensorflow==2.3.0` could not be properly installed with `poetry`. As we updated `tensorflow` to **2.4.0** we should reevaluate this and accordingly adjust all workarounds in which we install `tensorflow` with `pip`.

# ToDo
- [x] Check if the project setup works correctly if tensorflow is not installed using pip but rather using poetry like everythin

[2020-12-04 05:43] patselle commented on #487
That sounds really good ;)

[2020-12-07 11:07] tanertopal opened #515 "Add e2e test for examples"
# Description
We would like to make sure that the example are always working correctly and in sync with the main branch of Flower. Therefore we need to add at least an e2e test which checks if the steps in their respective README.md files.

[2020-12-08 09:17] pedropgusmao opened #519 "Implement baselines using LEAF datasets."
It would be nice to have LEAF baselines ready for Strategy comparisons.

[2020-12-08 22:36] tanertopal opened #527 "Fix tf_hotkey baseline"
The test is currently broken as the tested module contains download links for the dataset which are not valid anymore. They result in 404 when trying to download the dataset.
We will need to find a different source for the dataset and make it permanently available somewhere.

[2020-12-09 18:39] altor opened #530 "`Server.fit` method crash with `TypeError: 'int' object is not iterable` error"
Hello,
since release `0.11.0` I'm not able to launch code that worked fine with release `0.10.0`

I have the same problem with release `0.12.0`

Here is the Error Stack :
[code]
The context where the issue appears

[code]

the model i use :
[code]

configuration dictionary :

[code]

[2020-12-10 16:12] danieljanes commented on #530
Thanks for the report @altor ! We went through your code and everything looks fine. The issues seems to be related to parameter serialization for distributed evaluation (i.e., on the clients). Does the initial round of training work before Flower tried to do the evaluation?
IIRC there were no changes related to that part of the codebase during the 0.11.0 and 0.12.0 release. Would it be possible to

[2020-12-16 16:12] danieljanes commented on #430
Hi @Martiniann,

our latest blog post show how to do this in great detail:
https://flower.dev/blog/2020-12-16-running_federated_learning_applications_on_embedded_devices_with_flower

There's also a fully working code example available: https://github.com/adap/flower/tree/main/examples/embedded_devices

[2020-12-17 07:07] lfzhagn opened #537 "grpc error: details: failed to connect to all addresses"
Hi, I was just trying the examples on [https://flower.dev/docs/example_walkthrough_pytorch_mnist.html](url). After runing  `bash ./run-clients.sh`, I got the following errors. Can someone provides any help?
`$ DEBUG flower 2020-12-17 14:45:45,394 | connection.py:36 | ChannelConnectivity.IDLE
DEBUG flower 2020-12-17 14:45:45,394 | connection.py:36 | ChannelConnectivity.TRANSIENT_FAILURE
INFO flower

[2020-12-17 09:12] lfzhagn commented on #537
issue solved by changing the ipv4 port.

[2020-12-17 09:12] #537 closed

[2020-12-18 07:49] giacomoverardo opened #538 "Sending a subset of model weights to the clients"
Hi,

Is it possible to have different models at client and server? Specifically, I would like to use a large model at the server side and send a fraction of the weights for each layer to the clients. Do you have any advice on where to implement these features? Would it be possible by creating a new strategy?

Thanks,
Giacomo

[2020-12-18 23:11] danieljanes commented on #538
Hi @giacomoverardo , exactly, it's possible through a custom strategy implementation.

In short, you'd only put the subset of weights you want to pass to the clients into the `List[np.ndarray]` returned by `Strategy.configure_fit` - if the subset changes every round then I'd suggest to add some data about which layers you're sending to the config dict.

On the client side you'd check the `config`

[2020-12-19 10:18] Martiniann commented on #430
Thank you very much for your response. I will definitely look into it.

[2020-12-19 10:18] #430 closed

[2020-12-19 17:19] giacomoverardo commented on #538
Thank you! Would it also be possible to send different weights to different clients?

[2020-12-19 18:10] danieljanes commented on #538
Yes absolutely.

The return type of `Strategy.configure_fit` is `List[Tuple[ClientProxy, FitIns]]` (`FitIns` hold both model `parameters` and a `config` dict). The way Flower interprets this is as follows:
- the list contains pairs of `ClientProxy` and `FitIns`
- each pair represents a "selected client", so Flower sends the `FitIns` object to that client
- if the list contains a certain `ClientPro

[2020-12-23 08:45] NicholasRasi opened #540 "Evaluation of the final model on empty client set"
Hello,
I'm trying to run the basic [Tensorflow Example](https://github.com/adap/flower/tree/main/examples/quickstart_tensorflow) but when the [final model evaluation is executed](https://github.com/adap/flower/blob/42ef63b6a8097c3b571b65e11b5471477253a48d/src/py/flwr/server/app.py#L97) the client returns an empty set, thus the evaluation is not executed.
This should be due to the fact that the ser

[2020-12-24 16:26] danieljanes commented on #540
Thanks for the report @NicholasRasi ! What you're describing is right, good catch. We'll fix this asap.

[2020-12-26 13:58] yinfredyue opened #541 "Communication implementation"
I am reading Flower code, and have this question: why Flower uses a queue (in `client/grpc_client/connection.py`) for server-client communication? Why Flower needs the `GRPCBridge` abstraction? Isn't gRPC itself enough?

I am still new to gRPC, so this question might be basic. Any help/explanation would be appreciated!

[2020-12-27 09:17] yinfredyue opened #542 "transport_pb2.pyi file"
How to generate the `transport_pb2.pyi` file? I cannot find any information about this on gRPC's official documentation.

[2020-12-27 09:56] yinfredyue commented on #542
https://github.com/dropbox/mypy-protobuf
Problem solved. Thanks!

[2020-12-27 09:56] #542 closed

[2020-12-29 10:13] danieljanes commented on #541
Hi @yinfredyue ,

Thanks for the question. Flower uses gRPC for client/server communication, but it's not inherently tied to it. This means that we could add additional transport mechanisms (e.g., WebSockets) in the future to enable workloads that have both gRPC-based and WebSockets-based clients. The `GRPCBridge` is one component that helps with this abstraction.

The queue on the client side mig

[2020-12-29 19:25] Riccardinho22 opened #546 "Extend the FitRes dataclass"
Hi, I'm trying to extend the FitRes dataclass "on the fly" as you can see below:
`fit_res = FitRes(
            parameters=params_prime,
            num_examples=num_examples_train,
            num_examples_ceil=num_examples_train,
            fit_duration=fit_duration,
        )`
        `fit_res.__class__ = make_dataclass('FitResLoss', fields=[('loss', float)], bases=(FitRes,))`
        `fit_res

[2020-12-29 20:26] pedropgusmao commented on #546
Hi @Riccardinho22 , thanks for your interest in Flower. As you can see in [here](https://github.com/adap/flower/blob/5e86c095ea87f2adee7904f9208bc8b845fcf40f/src/proto/flwr/proto/transport.proto#L59) `FitRes` is an interface for a protobuf message and you would need to change this and regenerate the messages to include your `loss`. However, notice that a few lines [below](https://github.com/adap/f

[2020-12-29 20:36] Riccardinho22 commented on #546
Hi @pedropgusmao thanks for your super quick reply!
Yes I'm just seeing that is not manageable add the loss as new FitRes field. I saw the evaluate method.
Anyway I need to use the `loss` ( computed w.r.t. the training dataset)
https://github.com/adap/flower/blob/5e86c095ea87f2adee7904f9208bc8b845fcf40f/src/py/flwr/server/strategy/strategy.py#L49

Thanks again!

[2020-12-30 09:36] pedropgusmao commented on #546
Can you provide more details regarding how you want to evaluate the training loss? I assume you have a different training set for each client. Maybe a partition of an original, larger dataset? Do you want to collect individual losses for the participating clients, or do you want to calculate a kind of "global training loss" where you evaluate the loss on the original larger dataset? If you are usi

[2020-12-30 10:22] danieljanes commented on #546
Thanks for reaching out @Riccardinho22 . In addition to what @pedropgusmao said, we do have plans to generalize the return values of both `fit` (#489) and `evaluate` (#490). This would allow you to return (almost) arbitrary values from `fit` and `evaluate` which comes in handy if you have, for example, multiple losses (or any other metric that you want to keep track of and use in your `Strategy`).

[2020-12-31 12:27] Riccardinho22 commented on #546
Thanks @pedropgusmao, so I fixed at least for now, storing into external files my requirements, which are: get the loss computed w.r.t. the train dataset as well as the gradient still w.r.t. to the train dataset
@danieljanes That's a huge improvement, that it'll allow me to perform the stuff stated above without any strange things.
Thanks again!

[2020-12-31 13:05] #546 closed

[2021-01-05 14:05] lguerdan opened #550 "Synchronizing client ids between Clients and ClientManager"
Hi there, I’m using Flower to set up a federated learning experiment and came across a question — I’m new to the framework and apologize if this is something simple that I missed.

In an experiment I am setting up, I am configuring a `ClientManager` to perform client selection based on client-specific configuration parameters (for example, a client-specific drop probability that approximates a bad

[2021-01-05 17:16] tanertopal opened #552 "Improve docs (misc)"
# Description
Improve the docs by removing obsolete parts and making it overall more readable (also on mobile).

# Tasks
- [x] Remove obsolete parts of the docs aka. How To AWS
- [x] Fix formatting
- [x] Use new Theme
- [ ] Improve API Reference

[2021-01-05 17:20] tanertopal commented on #552
Related PR's
* #547
* #548
* #551

[2021-01-05 17:20] tanertopal commented on #552
Also relates to #551

[2021-01-05 17:44] tanertopal commented on #472
@pedropgusmao I just deployed a new theme with some fixes in the docs. Tracked here: https://github.com/adap/flower/issues/552

Checkout: https://flower.dev/docs

Does this resolve this issue? Do you think we can improve further?

[2021-01-05 17:47] danieljanes commented on #550
Hi @lguerdan , glad to hear you like the framework so far! What you describe is quite accurate, the server-side `cid` is not linked to any client-side property.

This is one area that we want to improve: we want the client to be able to communicate metadata to the server when it establishes the connection (e.g., "I'm client no. 5 and I have a GPU"). This would allow the server to perform sampling

[2021-01-05 20:25] danieljanes commented on #540
This is fixed by #553 and will be available in Flower 0.13.0.

[2021-01-06 08:56] pedropgusmao commented on #472
That's a great new look for Flower!

[2021-01-06 08:56] #472 closed

[2021-01-06 09:37] #540 closed

[2021-01-06 13:02] lguerdan commented on #550
Thanks for the thorough response @danieljanes , I'm glad that I wasn't just over complicating things :)

Yes, this would be fantastic. I like the current setup with `FitIns` and and `EvaluateIns` where you have a `map<string, string> config` in the protocol buffer specification, then enable adding additional configs dynamically on the client. Something similar in the connection object linking the

[2021-01-07 12:04] danieljanes opened #557 "Flower CLI"
Projects that use one of the built-in strategies on the server-side without customizing them with callback methods still require the user to write a fairly simplistic `server.py` to start the server. It would be easier (especially for new users) if the server was available as a CLI command:

`flwr start-server`

Additionally, we could allow the user to specify the strategy and pass arguments to th

[2021-01-07 12:48] danieljanes opened #558 "Backlink to flower.dev"
Once the user visits the docs, there's no good way to navigate back to https://flower.dev - we should use the Flower logo and the `Flower 0.13.0` as a "home button" that takes the user back to the landing page.

[2021-01-07 12:51] danieljanes opened #559 "Better 404 page"
Our 404 doesn't contain a clickable link that takes the user back to https://flower.dev, so if one of our links in the repo or in the docs is broken then it's very difficult to the user to navigate to the actual website.

Can we have a 404 page with the same header/footer as our landing page?

[2021-01-07 13:08] #359 closed

[2021-01-07 17:04] danieljanes commented on #550
Thanks for the update @lguerdan, glad to hear you found a good solution. Closing this issue now, feel free to re-open if something comes up!

[2021-01-07 17:04] #550 closed

[2021-01-08 06:27] ChangxinBai opened #563 "Multiple Clients"
Hi Developing team,

I am very interested in using flower to do some experiments.
Through the tensor flow example, I can use two clients successfully. I am wonder whether the system support more than two clients. If yes, how to do it?

Is the system support vertical federated learning cases?

Thanks

[2021-01-08 08:25] tchaton opened #564 "Pytorch Lightning Example"
Dear people from Flower,

Would it be possible for you create an example with Pytorch Lightning.

Reasons: Pytorch Lightning is an advanced Training and I wonder how it could be leveraged from Federated Learning.

Best,
T.C

[2021-01-08 08:39] danieljanes commented on #564
Hi @tchaton , we'd love to have a PyTorch Lightning example! Would you be interested in contributing?

[2021-01-08 09:24] tanertopal commented on #563
Hi @ChangxinBai

I am happy to hear that you want to do experiments with Flower!
Coming from the TensorFlow Quickstart example you can actually just start more clients and it will just work.

The biggest experiments we have run with Flower included 10k+ simultaneously participating clients in a single round of training.

If you like to have more fine grained control on the training you can either

[2021-01-08 09:48] ChangxinBai commented on #563
Hi @tanertopal,
Thanks for your quick reply. All answered my questions.
I am looking forward to your next milestone.
Best

[2021-01-08 09:48] #563 closed

[2021-01-08 15:44] #558 closed

[2021-01-08 16:17] tanertopal commented on #559
Resolved.

[2021-01-08 16:17] #559 closed

[2021-01-08 21:32] danieljanes opened #569 "Migrate to `# pylint: disable=`"
Replace all comments of the form

`# pylint: disable-msg=...`

with

`# pylint: disable=...`

(the former is deprecated)

[2021-01-09 07:44] zliel commented on #569
Hello, can I work on this?

[2021-01-09 07:44] zliel commented on #569
Hello @danieljanes, can I work on this?

[2021-01-09 09:33] danieljanes commented on #569
Hi @zliel, yes absolutely!

[2021-01-09 12:17] danieljanes opened #570 "JAX example"
We'd love to add a JAX quickstart example.

TODO's include:

- [ ] Create new directory `examples/quickstart_jax`
- [ ] Create files
  - [ ] `__init__.py` -> empty
  - [ ] `server.py` -> same as e.g. `quickstart_pytorch/server.py`
  - [ ] `client.py`
  - [ ] `README.md` -> same as e.g. `quickstart_pytorch/README.md`, just adjust paths
  - [ ] `pyproject.toml` -> same as e.g. `quickstart_pytorch/py

[2021-01-09 12:18] danieljanes opened #571 "JAX Example"
We'd love to add a JAX (https://jax.readthedocs.io/) quickstart example.

TODO's include:

- [ ] Create new directory `examples/quickstart_jax`
- [ ] Create files
  - [ ] `__init__.py` -> empty
  - [ ] `server.py` -> same as e.g. `quickstart_pytorch/server.py`
  - [ ] `client.py`
  - [ ] `README.md` -> same as e.g. `quickstart_pytorch/README.md`, just adjust paths
  - [ ] `pyproject.toml` -> same

[2021-01-09 12:24] danieljanes commented on #571
Duplicate of #570

[2021-01-09 12:24] #571 closed

[2021-01-09 20:03] zliel commented on #569
Thank you! Just finished up, if there's anything wrong with my PR please let me know!

[2021-01-09 20:13] #569 closed

[2021-01-09 23:38] danieljanes opened #574 "MXNet example"
We'd love to add a MXNet quickstart example.

TODO's include:

- [x] Create new directory `examples/quickstart_mxnet`
- [x] Create files
  - [x] `__init__.py` -> empty
  - [ ] `server.py` -> same as e.g. `quickstart_pytorch/server.py`
  - [x] `client.py`
  - [ ] `README.md` -> same as e.g. `quickstart_pytorch/README.md`, just adjust paths
  - [x] `pyproject.toml` -> same as e.g. `quickstart_pytorc

[2021-01-11 09:38] danieljanes opened #575 "Unify docstring style"
The repository does not enforce a particular docstring style yet. This can make it hard to know what style to use when editing docstrings. We should therefore:

1. [ ] Make a decision: which docstring style do we want to use?
2. [ ] Document this decision in our contributor guide
3. [ ] Migrate existing docstrings to this style
4. [ ] Check if there is tooling available to enforce this style on th

[2021-01-11 09:43] pedropgusmao opened #576 "Verify/Include Latex rendering ability in documentation"
Can our documentation render Latex? It would be good to have this so that docstrings could contain formulas.

[2021-01-11 12:47] tanertopal commented on #576
Hi Pedro, it works already:

In .rst:

[code]

same in docstring

[code]

In the docstring you just need to escape some backlashes

[2021-01-11 17:27] pedropgusmao commented on #576
Great! Thanks

[2021-01-11 17:27] #576 closed

[2021-01-11 17:30] danieljanes opened #578 "Create basic repository structure"
Flower Datasets related code is going to live in a new `flwr.datasets` package.

Code to generate partitioned datasets is going in `flwr.dataset.generator`.

[2021-01-11 17:34] danieljanes opened #579 "Create basic repository structure for Flower Baselines"
Flower Baselines are going to live in a new top-level directory called `baselines`. `baselines` will be a standalone project which can be installed independent of the Flower core framework.

[2021-01-12 08:50] CanTuerk opened #581 "Testing | __init__.py check"
I have recently faced a problem in another repository, where `mypy` was all of a sudden throwing errors despite me not having changed a single line of code inside the file the errors were coming from.
After a while I found out that the only thing wrong was a missing `__init__.py` file inside the directory.

To catch this issue early on in the CI I added the test which checks the Python directories

[2021-01-12 09:39] danieljanes commented on #581
Thanks for the issue @CanTuerk , I agree, we should do this.

[2021-01-12 12:41] tanertopal opened #583 "Add clang-format to the respective format and test dev scripts"
Currently, we don't have autoformatting for the protobuf files. We need to add clang-format to the format.sh and test.sh scripts.

[2021-01-12 12:43] #578 closed

[2021-01-12 12:52] #490 closed

[2021-01-13 15:19] danieljanes opened #585 "Proposal for data loading API"

[2021-01-13 22:06] #583 closed

[2021-01-15 11:37] CanTuerk opened #587 "Repo | Update dev-dependencies"
Some dependencies inside the Flower repo are outdated, I would suggest updating the dependencies listed down below in a PR.

- Dependency - current version - most recent version
- isort              - 4.3.21               - 5.7.0
- pylint             - 2.5.3                 - 2.6.0
- pytest            - 5.4.3                 - 6.2.1
- flake8            - 3.8.3                 - 3.8.4
- grpcio-tool

[2021-01-15 11:48] tanertopal opened #589 "Fix mypy / pytorch errors"
# Description
We have disabled mypy for pytorch in https://github.com/adap/flower/blob/main/mypy.ini#L5-L7. As we would rather run it but it doesn't work especially on local we need to check regularly if it can be enabled again. This ticket is for the purpose of tracking it.

# Task
- [ ] Enable mypy for pytorch. Make sure it also works on your machine.

[2021-01-15 17:13] danieljanes opened #594 "Include clang-format in dev dependencies"
`clang-format` is required to format `.proto` files. To prevent user users from having to install it via `sudo apt ...` we can include it in our dev dependencies (it's available via `pip`):

https://github.com/mgevaert/clang-format-wheel/

[2021-01-18 12:31] pedropgusmao opened #597 "Mypy complains it cannot find numpy after `poetry update`"
Hello,

I ran `poetry update` and got the follwing:
[code]

I believe `numpy-stubs` are still needed as now I get the following error after running `dev/fnt.sh`
[code]

[2021-01-18 12:59] pedropgusmao commented on #597
Creating a new repo and installing from scratch solves the issue.

[2021-01-18 13:09] pedropgusmao opened #598 "Docformatter inconsistency"
There seems to be a conflict between docformatter and linter.s

When running `dev/fnt.sh` with the following code snipped the linter will complain that the code has an extra whitespace before ':'.
However, if the whitespace is manually removed from the source-code, then it is put back by the document formatter.

[code]
Running `dev/fnt.sh`:

[code]

[2021-01-18 13:18] pedropgusmao commented on #598
Related: https://github.com/psf/black/issues/279

[2021-01-18 13:34] danieljanes commented on #597
Ok, let me know if this solves the issue. Sometimes it helps to delete the entire venv and install from it from scratch.

If you want to use the helper scripts in `dev`:

[code]

[2021-01-18 13:35] danieljanes commented on #597
Btw, there's a PR (soon to be merged) that updates many dev dependencies (#590).

[2021-01-18 16:30] #598 closed

[2021-01-19 08:26] danieljanes commented on #597
#590 was merged yesterday. Is this still an issues @pedropgusmao ?

[2021-01-19 08:38] danieljanes commented on #597
Oh sorry I guess I misread that comment, closing this issue now.

[2021-01-19 08:38] #597 closed

[2021-01-19 10:23] jafermarq opened #599 "FL Checkpoint generation"
It would be great to have a checkpointing mechanism built-in in the Flower server. This would serve a dual purpose: keep backups of the last N rounds (global model parameters, round number, strategy status, etc); and, make it easy to replicate the experiment and run the final evaluation of the global model at a later stage.

I think as a starting point the following elements should go in the check

[2021-01-19 10:47] pedropgusmao commented on #599
This should include handling SIGINT.

[2021-01-19 10:57] jafermarq commented on #599
Checkpoint handling would likely be framework-specific so maybe a good way to add this functionality is by adding a new server argument (e.g. `on_init`) that can be passed when creating the server object. This could be just a user-define function that gets executed right at the end of the server object constructor.

[2021-01-19 11:14] #587 closed

[2021-01-19 11:15] #581 closed

[2021-01-19 11:16] #552 closed

[2021-01-19 11:17] #502 closed

[2021-01-19 11:18] #345 closed

[2021-01-19 11:19] #491 closed

[2021-01-19 11:59] tanertopal opened #601 "E2E test for examples"
# Description
Not all examples currently have a simple E2E test as seen in https://github.com/adap/flower/blob/main/.github/workflows/examples.yml

# Task
- [x] Create CI test for `examples/pytorch_from_centralized_to_federated`
- [x] Create CI test for `examples/simulation`

[2021-01-19 12:06] danieljanes commented on #601
We should definitely add this, but please make sure that both tests only use the minimal amount of CI resources possible.

[2021-01-19 16:14] tanertopal opened #604 "Remove deprecated examples in /src/py/flwr_example from pyproject.toml"
# Description
The examples in `/src/py/flwr_example` are deprecated and should be removed from the pyproject.toml.

[2021-01-19 21:29] danieljanes commented on #604
Let's also announce this in the Flower Blog, perhaps along with the next release.

[2021-01-20 13:26] tanertopal opened #605 "Differential Privacy"
Differential Privacy is an important element of many FL workloads. The purpose of this issue is to track interest related to it. Please upvote this issue if you need a Flower-provided Differential Privacy solution for your FL setup.

[2021-01-22 09:20] #501 closed

[2021-01-24 04:52] lucastliu commented on #342
Any plans to implement this? Alternatively, is there anywhere I can find examples / code of Android usage of Flower?

[2021-01-26 18:57] danieljanes commented on #342
Yes, there will be progress on this in the coming weeks, but we don't have a fixed target date yet.

The general approach to using any language with Flower is:
1. Compile `transport.proto` for the language of choice (using the ProtoBuf/gRPC compiler)
2. Use the generated code to establish a connection to the Flower server
3. Handle the incoming messages (mainly `fit` and `evaluate`) and return the

[2021-01-26 20:55] lucastliu commented on #342
Thanks for the update. I am trying to get an idea of where the flower repository stands (since the publishing of the paper "Flower: A Friendly Federated Learning Research Framework"). There was mention of a "Java SDK (Android)", and I was wondering if this was it. I understand that I can fulfill the raw interface with almost any strategy implementations, but I want to understand if perhaps certain

[2021-01-26 21:34] roberthoenig opened #608 "Logo licensing."
I use Flower for my dissertation.
I would like to include the Flower logo from flower.dev in one of my diagrams.

**Am I allowed to do this?**
If so, should I provide any attribution?

[2021-01-27 07:49] danieljanes commented on #608
Hi Robert, great to hear!

Yes, you are allowed to use the Flower logo in your dissertation. Please include a reference to `https://flower.dev`, thanks :)

[2021-01-27 08:33] roberthoenig commented on #608
Great, thanks! I'll include the reference.

[2021-01-27 08:33] #608 closed

[2021-01-28 16:06] danieljanes commented on #342
You're right that the event protocol can be implemented in almost any language. Flower currently uses bi-directional gRPC streaming for client/server communication, so languages/platforms with good gRPC support have an advantage. For other cases, there's still the option to add an additional communication stack, but that would be a bit more effort.

Regarding your second question, there's no inher

[2021-01-29 10:09] #489 closed

[2021-01-29 12:24] jafermarq opened #611 "Issues with PyTorch models using BatchNormalization"
In PyTorch models making use of BatchNormalization, there's in issue when executing `set_parameters()` in the client. This is because the global model was initialised using the parameters of a model (those from the first connected client) that hadn't seen any input batches yet. Because of this, when calling `get_parameters()` in the first client, the internal variable `num_batches_tracked` of batc

[2021-01-29 13:06] danieljanes opened #612 "Document stable API components in API reference"

[2021-02-04 21:53] danieljanes opened #618 "Document PyTorch Lightning quickstart"

[2021-02-04 21:54] danieljanes opened #619 "Document MXNet quickstart"

[2021-02-04 21:54] danieljanes opened #620 "Document JAX quickstart"

[2021-02-05 09:14] #594 closed

[2021-02-05 10:03] danieljanes opened #621 "Add `config` support to `get_parameters`"

[2021-02-05 10:07] #541 closed

[2021-02-05 10:08] #538 closed

[2021-02-05 10:10] danieljanes commented on #530
Closing this now because we couldn't reproduce. Feel free to reopen if this is still an issue for you @altor .

[2021-02-05 10:10] #530 closed

[2021-02-05 10:14] #454 closed

[2021-02-05 10:26] danieljanes commented on #550
Hi @lguerdan, our implementations for #489 and #490 were merged into the `main` branch, the features are available in the latest nightly builds (`pip install flw-nightly`). We're curious to get your thoughts on the solution, is it general enough for your use case so that you don't need to change/re-compile the `.proto` anymore?

You can find a  written description of the approach in the latest rel

[2021-02-05 10:54] danieljanes opened #622 "Unbundle `start_server` function"
The current `start_server` function follows a fixed recipe: train in a federated way (and perform either centralized or distributed evaluation along the way), reconfigure the strategy to enforce distributed evaluation, then evaluate the final model on *all* connected devices. There's also not meaningful return value, `start_server` just prints the progress logs. This approach is rather limiting an

[2021-02-05 11:14] danieljanes opened #623 "Create advanced code example"
Advanced example should showcase the following features:

- Customized built-in strategy (fraction_fit/num_available_clients/...)
- Server-side evaluation
- 10 or more clients
- Fit/evaluate config values from server to client
- Custom return values from fit/evaluate
- Different data partitions for each client

[2021-02-05 21:01] lguerdan commented on #550
Hey @danieljanes thanks for adding this to the new release, this is great. I haven't installed the nightly build yet, but based on the release notes this would handle the use case I have and prevent me from needing to re-compile the `.proto`. Generalizing the return types beyond strings is also a nice update.

It may be helpful to roll the `accuracy` in the `EvaluateRes` into the custom config dic

[2021-02-06 11:49] danieljanes commented on #550
Thanks for the feedback @lguerdan, happy to hear that it fits your requirements. You're spot on, we're preserving `accuracy` purely for compatibility reasons, but we'll drop in in an incompatible change before we release Flower 1.0.

[2021-02-09 15:17] danieljanes opened #629 "Update mypy to 0.810"

[2021-02-09 15:20] danieljanes opened #630 "Use mypy-protobuf to generate gRPC stubs"
Depends on #629

- [ ] Update mypy-protobuf to latest version
- [ ] Configure gRPC stub generation
- [ ] Change mypy settings (stop ignoring generated gRPC modules)

[2021-02-10 13:30] patselle opened #632 "Changes in the return value of the evaluation of the clients"
Hi,

I want to return a string (to be exact a serialized dictionary) instead of len(x_test), loss, accuracy in the python file examples/quickstart_tensorflow/client.py, class CifarClient, in the evaluation method.<br>
I do this, for example, to give the server a unique client ID:
[code]

So I changed in common/typing.py class EvaluateRes the types from<br>
[code]
to
`my_dict: str`.

also i tried t

[2021-02-10 13:36] danieljanes commented on #632
Hi @patselle , thanks for the question. What you're trying to do will be possible in the next release of Flower (0.14): you'll be able to return a dict containing (almost) arbitrary scalar values from both `fit` and `evaluate`. The release notes are here: https://flower.dev/docs/changelog.html (under the header "Unreleased").

You can test-drive the new features by installing Flower 0.14 nightly b

[2021-02-11 09:30] patselle commented on #632
Hi @danieljanes,
I tried your note about the unreleased release notes and it worked fine.
Thank you

[2021-02-11 14:35] danieljanes commented on #632
Thanks for the update @patselle , great to hear it works.

[2021-02-19 15:16] #629 closed

[2021-02-22 07:17] patrickselle opened #646 "HD5F Support"
Hi Flower team,

If I am correct, in flower the parameters (lists ofnumpy arrays) are serialised in binary format for the exchange of data between clients and server. I am currently trying to test Flower and Mask R-CNN and have encountered a difficulty: the framework used by Mask R-CNN uses the file format HD5F (*.h5) in which the model parameters are kept. Is Flower planning a HD5F compatibility?

[2021-02-23 09:02] danieljanes opened #647 "MXNet Quickstart documentation"

[2021-02-23 11:36] danieljanes commented on #646
Hi @patrickselle , thanks for reaching out. Flower is fully agnostic towards the serialization format when it comes to the transport layer, on the lowest level it only communicates byte arrays.

These capabilities are exposed to Python by using the `Client` interface (as opposed to `NumPyClient`, which sits on top of `Client` and uses NumPy serialization for ease-of-use). Implementing a `Client` r

[2021-02-23 11:39] Martin-Stevlik opened #648 "Trying to run quickstart_tensorflow"
Hello,
I am trying to run your quickstart project but I got an error. When I tried to run server.py with port 8080 it failed, so I just changed the port to 5040 in both files (+ I checked if it is a free port ). The server runs ok, but then when I tried to run client.py I could not connect to the server. Both files client and server are running from the same PC with anaconda environment. Any clue

[2021-02-23 13:32] mariaboerner1987 commented on #647
Read yot review

[2021-02-24 08:23] danieljanes opened #649 "Update Quickstart TensorFlow docs to 0.14 return values"

[2021-02-24 08:24] danieljanes opened #650 "Update Quickstart PyTorch docs to 0.14 return values"

[2021-02-24 10:57] Martin-Stevlik commented on #648
Thank you for your quick response. I have tried it and it works just fine. Is there a way for it to work with IPv4 in future? Because I want to run the server.py in AZURE VM and most of VM does not support IPv6 ...

[2021-02-24 20:10] mariaboerner1987 commented on #650
The README does not require an update since it does not include an explanation of the fit and evaluate function.
The client.py has also no explanatory comments within the code in order to keep it short.
I can include it if you like. Otherwise I would keep it as it is.
@danieljanes

[2021-02-25 08:28] patrickselle commented on #646
Hi @danieljanes, thanks for your quick reply.

I took the second approach ;)

[2021-02-25 09:35] danieljanes commented on #650
@mariaboerner1987 this issue is not about the example, it's about the quickstart documentation: https://flower.dev/docs/quickstart_pytorch.html

[2021-02-25 09:40] mariaboerner1987 opened #651 "Create MXNet Doc"
- create mxnet documentation with Sphinx
- create mxnet quickstart documentation with Sphinx

[2021-02-25 09:44] danieljanes commented on #648
Great to hear it works @Martin-Stevlik - IPv4 is generally supported, but we're seeing the error you reported every now and then, however, it's not quite clear where it's coming from. Which platform are you on? We've tested the examples with both IPv4 and IPv6 and some people experienced issues while others didn't.

In the case of Docker, it's actually recommended to use IPv4 over IPv6 (IPv6 requi

[2021-02-25 13:12] mariaboerner1987 commented on #650
https://github.com/adap/flower/pull/652

[2021-02-25 13:36] mariaboerner1987 commented on #649
Make doc changes in PR: https://github.com/adap/flower/pull/653

[2021-02-26 14:30] Martin-Stevlik commented on #648
I am using Windows 10 and as a virtual environment Anaconda. My next step is to try your embedded devices quickstart on my Raspberry PI's. I will see how it goes there...

[2021-03-02 11:00] pedropgusmao commented on #499
@danieljanes What if `Strategy` receives the model in the constructor and then we pass the `Strategy` to the Server` (as it is done now) so that the `Server` have access to the parameter via `Strategy`?

[2021-03-02 13:17] mariaboerner1987 commented on #651
Walk through mxnet: https://github.com/adap/flower/pull/657

[2021-03-02 13:17] mariaboerner1987 commented on #651
quickstart doc: https://github.com/adap/flower/pull/655

[2021-03-02 19:21] danieljanes commented on #499
@pedropgusmao I like it - much simpler than the `initialize_parameters_fn` I proposed. @pedropgusmao @jafermarq @tanertopal please take a look at #658 , it's a first draft to enable server-side parameter initialization. It follows the idea outlined above, but I'll refactor it to pass the initial weights via the constructor instead of indirectly through a function.

It's a simple solution to have s

[2021-03-03 13:09] mariaboerner1987 commented on #651
Documentation about MXNet is ready for review @tanertopal and @danieljanes

[2021-03-03 16:20] smoser82 opened #659 "QFedAvg Loss Unitialized Error"
Hello,
I am trying to use the qffedavg strategy and getting "NameError: free variable 'loss' referenced before assignment in enclosing scope." I think the problem is that I did not specify an evaluation function as a parameter so the loss variable is not initialized before it is called later in the program. If I understand right, then if the loss really is necessary for q-FedAvg the evaluation fun

[2021-03-04 15:18] a1302z opened #660 "Is there a way to synchronise models during epochs?"
Flower seems like a very promising framework, but I'm wondering though suppose you have a very large dataset, you'd like to synchronise and aggregate your models more frequently than just after every epoch, is there any way how this is currently possible? Unfortunately I did not see any.

[2021-03-05 06:34] danieljanes commented on #660
Hi @a1302z , thanks for the question. What you're asking is easily possible, you can return the updated model parameters after any amount of training on the client.

Let me give an example using TensorFlow/Keras (it works exactly the same way for other frameworks, just train for a limited number of batches and return the updated weights):

[code]

Furthermore, you can make this configurable from t

[2021-03-05 07:11] a1302z commented on #660
Thanks a lot

[2021-03-05 07:11] #660 closed

[2021-03-06 13:55] danieljanes commented on #659
Hi @smoser82 , thanks a lot for the detailed report!

We do have an example for the evaluation function in the Advanced TensorFlow Example (https://github.com/adap/flower/tree/main/examples/advanced_tensorflow, and a few more in deprecated parts of the codebase under `src/py/flwr_example` and `src/py/flwr_experimental`, but those will be removed eventually).

The gist is to hand a function to the

[2021-03-06 22:23] smoser82 commented on #659
That's a very helpful example, thank you. I think it's working now!

[2021-03-08 10:08] tanertopal commented on #648
@Martin-Stevlik were you able to resolve your issue? Let us know if we can help you further. With regards to Flower on Raspberry this might be useful for you: https://github.com/adap/flower/tree/main/examples/embedded_devices

[2021-03-08 10:09] sachugowda opened #666 "Cant Install flwr top of the Poetry Shell"
i got error when i try to run install import flwr top of the poetry

ModuleNotFoundError: No module named 'flwr'

[2021-03-08 10:11] tanertopal commented on #666
Hi @sachugowda. Can you maybe elaborate a little further and explain in which environment and how you installed Flower? Ideally provide some information about your system and the commands you have executed.

[2021-03-08 11:34] sachugowda commented on #666
Dear @tanertopal , Thanks for your Reply.
i am using Ubuntu 18, and i have successfully installed Flower and cloned from github.
i cant install poetry and if i installed using https://python-poetry.org/docs/ i can used poetry command to start shell and i cant execute this command poetry run python3 -c "import flwr"

even i tried in google colab also.. kindly help me to run examples to learn more i

[2021-03-08 11:38] sachugowda commented on #666
![Screenshot from 2021-03-08 17-06-20](https://user-images.githubusercontent.com/4860900/110316512-d9745f00-8030-11eb-92aa-4472b283bc24.png)
![Screenshot from 2021-03-08 17-07-25](https://user-images.githubusercontent.com/4860900/110316526-de391300-8030-11eb-9bcc-ee7fa48bde96.png)

[2021-03-08 11:47] sachugowda commented on #666
![Screenshot from 2021-03-08 17-16-47](https://user-images.githubusercontent.com/4860900/110317393-1bea6b80-8032-11eb-8956-b275ffe58d39.png)

[2021-03-08 12:16] sachugowda commented on #666
Thanks you, working fine

[2021-03-08 12:16] #666 closed

[2021-03-08 21:37] Martin-Stevlik commented on #648
Hi, I followed your instructions in the embedded devices tutorial and came across the same connecting issue. I have a PC witch runs server.py and 2 raspberries that runs client.py. Both raspberries and PC are on the same network and I am using your latest release 0.14.0. I don't know if you should put the port number in the client's code, but I have tried it but it would not resolve an issue.

![f

[2021-03-09 10:15] danieljanes opened #668 "Make `get_parameters` optional"

[2021-03-09 10:16] danieljanes opened #669 "Migrate baselines to self-contained project"

[2021-03-09 10:16] danieljanes opened #670 "Quickstart example: Document `steps_per_epoch`"

[2021-03-09 10:17] danieljanes opened #671 "List Flower-based papers on flower.dev"

[2021-03-09 21:37] Martin-Stevlik commented on #648
@tanertopal as you can see on the right side of the image. I have already tried it and it did not work ... I will try using IPv6 and give you an update on how it goes.

[2021-03-09 21:59] tanertopal commented on #648
@Martin-Stevlik my bad. Missed that. Am I guessing right that the server is running on a Windows machine? I think we did not test the setup with a Windows OS. I'll try it out in the next couple days on Windows 10 if you can confirm my guess.

In general can you tell me a little bit about your overall setup?

- Which exact OS and version
- Version of the tools involved e.g. Docker

[2021-03-11 14:51] Martin-Stevlik commented on #648
@tanertopal so I have tried it with IPv6 and the same issue comes up. I have put "[::]:5040" in server.py and my IPv6 address in client.py, if I do this in quickstart_tensorflow project it works ...

[2021-03-12 17:10] tanertopal commented on #648
@Martin-Stevlik so I assume you have run the `quickstart_tensorflow` example without docker as otherwise, you would have to activate [IPv6 support in Docker](https://docs.docker.com/config/daemon/ipv6/)? I am going to set up a new Raspberry Pi and try to replicate your issue. Need to check if I have a Raspberry 3 B somewhere lying around (I think so 😄  ).

As another idea. Are you already part of

[2021-03-18 19:49] Martin-Stevlik commented on #648
Okay, so the key advice for running this "embedded_devices" project on windows 10 is to fully disable the firewall ;)

[2021-03-18 19:49] #648 closed

[2021-03-22 14:23] danieljanes commented on #574
@mariaboerner1987 can we close this?

[2021-03-26 04:07] michellebarbosa opened #687 "class History not returning all metrics."
Hi! Im trying to retrieve the values of accuracie_distributed, losses_centralised and accuracies_centralised but when I run the clients on my machine it returns an empty list. What could be the reason for this? TIA.

`INFO flower 2021-03-26 08:50:15,330 | app.py:109 | app_fit: losses_distributed [(1, 0.07582958787679672), (2, 0.06492161005735397), (3, 0.07073713093996048)]
INFO flower 2021-03-26 0

[2021-03-26 08:59] danieljanes commented on #687
Hi @michellebarbosa , thanks for reaching out. Are you using centralized or distributed evaluation?

[2021-03-26 15:51] mariaboerner1987 opened #689 "Add FedBN Strategy"
Make FedBN available within Flower

[2021-03-26 15:52] mariaboerner1987 commented on #689
See PR https://github.com/adap/flower/pull/688

[2021-03-26 18:40] michellebarbosa commented on #687
I've worked on multiple multple connected to the same network, also worked on training multiple clients on one computer. Could you provide a little clarity on what a distributed evaluation would be? I haven't come across any mention on the documentation or Github repo. Thanks!

[2021-03-28 19:01] danieljanes commented on #687
Right, the documentation for evaluation was something we wanted to do for a while. Your issue motived us to write it up, here's a first draft: https://github.com/adap/flower/pull/691/files

Let me know what you think!

[2021-03-29 08:48] #601 closed

[2021-04-01 11:24] patselle opened #693 "Another possible funcionality"
Hi Flower-Team,

first of all, thanks to the functionalities coming with release 0.14 and 0.15.
Another possible point I am thinking about:

I rewrote flower in a way that the server stores the global model (the model after averaging),  i.e. the last 5 models form the 5 last federated learning processes.
The clients also store the last model they used in the last federated learning process they pa

[2021-04-06 19:54] lucastliu opened #694 "Benchmarks / Performance"
Is there any documentation / metrics / benchmarks on Flower's performance?

I'd like to better understand the exact overheads / performance when using Flower. I understand that some metrics will vary depending on exact implementations, but are there any sort of performance analysis for any setups (perhaps one of your example setups?)

Some example points of interest: memory usage, communication ti

[2021-04-08 09:23] tanertopal commented on #694
Hi @lucastliu
currently, there is no documentation with regards to performance but we are in the process of creating / setting up [baselines](https://github.com/adap/flower/tree/main/baselines). The overhead on the client-side with regards to memory or CPU usage is very low.

When you say communication times and total latency, what do you mean exactly? Do you mean latency overhead of Federated Lea

[2021-04-08 16:06] lucastliu commented on #694
Short answer, yes, I am interested in all of this information.

Client side memory and CPU usage is of interest to me - low is great, but I wanted to know if you had any concrete numbers to go off of. (I am trying to push into low-end devices for edge computing, so the specifics of "low" are relevant)

I definitely want to know about network communication. I understand that particular setups will

[2021-04-08 17:20] danieljanes commented on #693
Hi @patselle, thanks for the proposal!

Most parts of this are already possible through custom strategy implementations: you'd include the hash of the current client-side parameters in the dictionary that the client returns back to the server (in `fit` or `evaluate`). The server-side strategy would then keep a map from client to parameter hashes and when a client gets samples for the next round, i

[2021-04-12 10:08] jaimish11 opened #697 "Running the server and clients on different machines"
Is there any way to run a server on a separate machine (let's say a cloud instance like AWS EC2) and run clients locally?

I was able to run a federated training workflow locally (with both the client and server running locally) but when I tried to run the server on a different remote machine, my local client was unable to connect to it. Do you have any guidelines or help on how to connect local c

[2021-04-12 16:19] tanertopal commented on #697
Hi @jaimish11 we have run setups with 10.000 clients on AWS distributed over 100 machines connecting to a single server. The functionality is already there.

Can you post your server code? If you want to use IPv4 you can use the server_address '0.0.0.0:8080' to listen on all addresses.

Apart from that make sure that port 8080 is publicly accessible by configuring the AWS EC2 security groups. To t

[2021-04-12 17:21] jaimish11 commented on #697
Hi @tanertopal. So it turns out, Nginx was unable to forward my requests to the federated server running on the EC2 instance. I had to ditch Nginx altogether and access the IP directly. That did in fact work.

I was wondering what sort of server setup you used to handle multiple clients? Was it all routed through Nginx or did you handle it in another way?

[2021-04-13 09:08] patselle commented on #693
Hi @danieljanes,

thank you for your response.
I will try this out.

[2021-04-14 08:09] tanertopal commented on #697
You actually don't need anything else than the server. As we are using gRPC streaming for communication you might have to check if nginx supports that well. Especially your version of nginx. I am not sure tbh.

With regards to the server size on AWS that depends especially on the model size. I would recommend the server to have memory equal to MODEL_SIZE x NUMBER_OF_CONCURRENT_CLIENTS as when the

[2021-04-14 16:19] jsw-zorro opened #699 "RPC Error: Stream removed"
Hi, I am using flower to train my algorithm in a federated way, and it was set as running for 100 epochs. It ran well for the first 10 epochs. However, at the end of the 10th epoch. An error prompted on one node.
[code]
The training is set up in the same machine with multiple GPUs.
I am using 0.15.0 version of flwr along with PyTorch 1.8.1+cu102.

Thanks for all the help.

[2021-04-14 17:53] ipremuzic opened #700 "Memory consumption rising during simulation"
Hi!
I tried to run your [Single-Machine Simulation of Federated Learning Systems](https://github.com/adap/flower/tree/main/examples/simulation) example and I encountered something that looks like a memory leak. Memory usage during training simulation just keeps rising.

I cloned the example (no changes to the example code were made), installed project dependencies using poetry as recommended in in

[2021-04-15 07:57] tanertopal commented on #700
Hi @ipremuzic, I'll look into it and will give you feedback quite soon.

[2021-04-16 08:47] danieljanes commented on #699
Hi @jsw-zorro , this looks like the server is not running anymore - are there any additional details that you could share?

[2021-04-19 06:39] jsw-zorro commented on #699
Hi @danieljanes , what kind of other information do you need? I think it is not the fl_server's problem. When I rerun the client, it can still communicate to the server and continue the federated training procedure.

[2021-04-19 12:07] tanertopal commented on #700
@ipremuzic I looked into this. The result is fortunately that I could not find a memory leak - my setup always maxed out on memory usage after a few dozen rounds. Tensorflow is quite a memory hungry beast so the best I could do after a few optimizations is 40 clients on 45GB. If you are interested I can adjust the simulation example to be slightly more memory efficient.

We already have on the roa

[2021-04-19 17:41] ipremuzic commented on #700
@tanertopal that is strange, because I see rising memory consumption throughout training process. Yes, after a few rounds memory usage is rising at a slower rate but it is still rising and continues to do so until the end. Also, the rate at which it is rising depends on number of active clients and the number of clients that are being sampled every round.
If I try to run simulation with 40 clients

[2021-04-19 18:45] danieljanes commented on #699
The best case would be a repo that we can use to reproduce. Is your code open source or could you provide a shortened version focussed on the issue at hand?

[2021-04-22 11:43] tanertopal commented on #700
@ipremuzic I will create a PR this week and we can discuss the impact you can see.

There is no specific timeline but I will discuss that and see how we can prioritize it

I have run all code changes with the `run.sh` script in the example. The script runs the example in Docker. The Docker container is using 20.04. My machine has 64GB memory. The host OS is Windows although I am using Ubuntu 18.04

[2021-04-23 14:45] tanertopal commented on #700
@ipremuzic can you have a look at the code in the example and try running that? Does it improve on your issue?

[2021-04-26 11:02] ipremuzic commented on #700
@tanertopal I tried running the improved memory version of example, below are two graphs showing available memory during simulation. I ran both regular and improved example inside Docker using run.sh script.

![graph_1000_10_0 5_2](https://user-images.githubusercontent.com/32738112/116071543-51085700-a68e-11eb-96fa-a32c95374014.PNG)
![graph_500_40_0 1_2](https://user-images.githubusercontent.com/3

[2021-04-26 11:16] tanertopal commented on #700
@ipremuzic This was also running on the following specs?

Could you provide me with the exact code/setup you used to track memory and plot it? I will try to replicate your setup and use that as a basis when looking for the issue.
I'll remove the ML Framework related code and replace the weights with just a numpy array of similar size. That way we can measure the memory impact of Flower alone.

[2021-04-26 14:07] ipremuzic commented on #700
@tanertopal Yes, the specs are still the same as before.

For tracking memory I used `free -ms 2 >> mem_usage.log`, so that free utility gets called every 2 seconds and writes output to file. That way I got amount of available and used memory during simulation. I decided to plot available memory so I deleted all other columns and also deleted the first row for easier parsing.
In the end the log lo

[2021-04-28 08:49] chanfm81 opened #706 "Regarding cross silo scenarios and privacy preserving technologies"
Hi,

Thanks for making the flower framework available for us to try.

I have some queries on usage of flower as below:
1. As flower is meant for cross device training under heterogeneous settings, can flower be used in the cross silo scenarios where the clients are organizations and the number of clients are fixed with no dropout?
2. The default data partitioning is horizontal FL. In order to achi

[2021-04-28 20:07] tanertopal commented on #700
Perfect! Thx. I'll try replicate your system and see if I can reproduce your results and debug from there.

[2021-04-28 20:08] tanertopal commented on #697
@jaimish11 any updates on your side?

[2021-05-05 14:23] Samvid95 commented on #537
Hey I am having the same problem. I tried changing the port. But it still having the same issue. Can you tell me what did you exactly change?

[2021-05-05 14:45] Samvid95 opened #710 "Connection issue tf-quickstart"
Hi there,

I am trying to implement flower and going through the tensorflow quickstart tutorial. And I am encountering the following error:

[code]

My issue is the same one as #648 & #537

I tried changing the port value to IPv6 as well as tried multiple ports but nothing worked for me.  Is there anything else I can do?

My setup:
Windows 10 with Anaconda virtual environment.

Best,
Samvid

[2021-05-06 09:34] danieljanes commented on #710
Hi @Samvid95 , thanks for reaching out.

We had Windows users who had issues with their firewall, could you try turning that off?

Other than that you could try to use WSL2 on Windows 10, that should work like a charm (some of the Flower core devs use it on a daily basis w/ Ubuntu 18.04 or 20.04).

[2021-05-06 12:37] cozek opened #712 "Using results returned from client's fit"
I want to save the results returned to the server by the client's fit method and save them.
I am not sure how I am supposed to access the results in the server script.

The example in https://flower.dev/docs/saving-progress.html#aggregate-custom-evaluation-results only covers results from the clients evaluate function but does not show results from the client's fit function.

In the [advanced_tens

[2021-05-06 12:51] danieljanes commented on #712
Hi @cozek , thanks for the questions. What you want to do isn't properly documented yet (and there will be built-in improvements in future releases), but you could do it in the same way as it's done in the docs you linked above. The only difference is that you'd override `aggregate_fit` instead of `aggregate_evaluate`:

[code]

The `results` object is a list of tuples (pairs of `(ClientProxy, FitR

[2021-05-07 03:14] cozek commented on #712
@danieljanes Thanks for the code example and quick reply. This solves my use case for now.

[2021-05-07 14:29] riccardo94p opened #715 "What is fraction_eval used for?"
Hello everyone, I am experimenting with this framework as part of my thesis. I was wondering what the `fraction_eval` parameter is meant for in the Strategy. The documentation states: "_Fraction of clients used during validation. Defaults to 0.1._"

If I understood correctly, the Strategy is on the server side. So if the train/test/validation data splits are in the client nodes, what is the purpos

[2021-05-07 19:40] #712 closed

[2021-05-07 20:45] tanertopal commented on #715
@riccardo94p assuming you have 100 clients participating in the round the server will by default sample `NUMBER_OF_CONNECTED_CLIENTS * fraction_eval` number of clients for the evaluation step. Similar the `fraction_fit` will determine which fraction of clients will be sampled for the fit step.

[2021-05-10 14:15] tanertopal commented on #715
@riccardo94p I am converting this to a discussion for now.

[2021-05-10 14:15] #715 closed

[2021-05-10 14:18] #697 closed

[2021-05-10 15:47] pedropgusmao opened #726 "Update signature to Dict[floatScalar"
https://github.com/adap/flower/blob/a8a7dd1fce957540b49c59e56221d5762a937f8d/src/py/flwr/server/strategy/fedavg.py#L106

[2021-05-11 13:24] Samvid95 commented on #710
Awesome. It works.

[2021-05-11 15:59] tanertopal commented on #710
@Samvid95 great, happy to hear!

[2021-05-18 03:23] anik123 commented on #356
Hi,

Any update on this?

Thanks in advance.

[2021-05-18 03:23] anik123 commented on #605
Hi,

Any update on this?

Thanks in advance.

[2021-05-20 13:16] giorgosera commented on #605
@tanertopal I am also interested in this.

[2021-05-28 01:13] ddayzzz commented on #699
I have the same issue. When I simulation in one machine with multiple GPUs:
[code]
and server report there is one failure:

[code]
All other client will get stuck when the client running in GPU6 exited abnormally:
[code]
I use the commit  `a7b2d76c35a7c7d23c9edb5d62786aebc1a57009` and Python 3.8 with pytorch(py3.8_cuda10.2_cudnn7.6.5_0).

[2021-05-28 10:03] #706 closed

[2021-06-02 19:44] danieljanes commented on #605
@anik123 @giorgosera a first code example using DP SGD just got merged into main: https://github.com/adap/flower/tree/main/examples/dp-sgd-mnist

[2021-06-02 20:01] giorgosera commented on #605
That's great news @danieljanes. Thank you!

[2021-06-03 01:09] anik123 commented on #605
wow. Thanks, @danieljanes . I will give it a try.

[2021-06-04 08:02] #726 closed

[2021-06-04 16:55] arnewitt opened #747 "Example simulation docker execution fails"
Hi all,

first of all, I am very impressed with your work! Looking forward to see how flower grows (pun intended) and maybe contributing, if I find time!

Regarding my issue, I am having trouble launching the docker container in the [basic simulation](https://github.com/adap/flower/tree/main/examples/simulation) using the command:

`
docker build -t flower_federated_learning_simulation .
`

I get

[2021-06-05 10:45] arnewitt commented on #747
I have been able to resolve my issue: apparently there was something wrong with my docker installation, reinstalling docker fixed the issue.

Kind regards

[2021-06-05 10:45] #747 closed

[2021-06-05 19:07] danieljanes commented on #747
Thanks for the update @arnewitt !

[2021-06-07 16:14] sallogy opened #751 "grpc client server communication is not working when client and server is started from different terminals"
Hi flower developers,

I tried the examples provided with flower and they work if I start the server and clients with the run.sh script, but communication stalls if client and server are started from different terminals.  The log from the client:

DEBUG flower 2021-06-07 17:37:16,844 | connection.py:36 | ChannelConnectivity.READY

This is where it waits indefinitely. At a keyboard interrupt, the l

[2021-06-08 08:23] tanertopal commented on #751
@sallogy can you share a bit more information about your runtime environment?

* Which OS (incl. version) e.g. Ubuntu 18.04
* Which CPU/GPU
* How much RAM

Also what code did you run? A specific Flower example? Did you bootstrap your own project without any example? Some context is very much appreciated.

[2021-06-10 10:33] smsubham opened #756 "Client not starting"
Am getting the following error when I try to start client after server while trying to run the below example.

[pytorch_from_centralized_to_federated](https://github.com/adap/flower/tree/main/examples/pytorch_from_centralized_to_federated)

`Files already downloaded and verified
Files already downloaded and verified
DEBUG flower 2021-06-10 15:54:23,140 | connection.py:36 | ChannelConnectivity.IDLE

[2021-06-10 13:02] alessiomora commented on #756
I had the same problem on Windows. Just try to insert "localhost" instead of "[::]" in the address provided in the client and server code. That is:
[client.py] fl.client.start_numpy_client("localhost:8080", client=client)
[server.py] fl.server.start_server("localhost:8080", config={"num_rounds": HERE_YOUR_NUM_OF_ROUNDS}, strategy=strategy)

[2021-06-11 07:31] #756 closed

[2021-06-11 07:35] #751 closed

[2021-06-11 12:15] Samvid95 opened #758 "Timeseries data example"
Is there any Flower example available for the time series models?

[2021-06-22 10:36] yasar-rehman commented on #611
I had the same issue.

I think the problem is in the following line of code in the set_parameter() function:

state_dict = OrderedDict({k: torch.Tensor(v) for k, v in params_dict})

After converting the torch.Tensor(v) to torch.from_numpy() as below, my code executed without any errors.

state_dict = OrderedDict({k: torch.from_numpy(v) for k, v in params_dict})

[2021-06-24 17:04] danieljanes opened #762 "Migrate mypy configuration to pyproject.toml"
Parts of our mypy configuration live in `mypy.ini`. Support for configuration via `pyproject.toml` was recently added to mypy (https://mypy.readthedocs.io/en/stable/config_file.html#using-a-pyproject-toml-file), so we should migrate our configuration to follow a consistent approach over all Python tooling

[2021-06-30 09:08] WeiJongYang opened #764 "Error when using FedAdagrad"
Hi
I tried to use other strategy rather than fedavg.
I simply change fl.server.strategy.FedAvg to fl.server.strategy.FedAdagrad in the sample code (advanced_tensorflow/server.py).
And also change optimizer to SGD on clients.
Unfortunately I got an error:

 File "server.py", line 238, in <module>
    main()
  File "server.py", line 130, in main
    strategy = fl.server.strategy.FedAdagrad(
  File "

[2021-07-01 14:24] Samvid95 commented on #758
Hey everyone, is there any update on this? Is there any example available?

[2021-07-02 04:01] franzschellman commented on #764
Given that your weights object from `model.get_weights()` is a list, you have to convert it into either a `tf.SparseTensor` or a `tf.ragged.constant` object. The `initial_parameters` argument requires iterable Tensors, so try converting your existing initial weights. Also read the [original paper](https://arxiv.org/abs/2003.00295) to understand how they processed their core function and also read

[2021-07-02 10:49] Enrique-Marmol opened #765 "Using Fed+ of FedProx"
Hi everyone, I have started using Flower and I would like to know if it possible to use the fusion algorithms such as Fed+ or FedProx instead of  FedAvg.
Thanks in advance.

[2021-07-06 03:07] ycchiusieve opened #766 "gRPC connection problem"
Hi all,
I was doing experiment on 1 server+2 clients FL using flwr. I found when gRPC is not stable, client can be shutdown, with error message like:

I was wondering, will flwr retry connection automatically when gRPC is not stable.

Thanks.

[2021-07-08 12:46] danieljanes commented on #452
Released in version 0.16.0

[2021-07-08 12:46] #452 closed

[2021-07-14 06:49] mansiparashar opened #770 "Federated Segmentation Example"
Hello, would it be possible to get documentation for running a segmentation task of Flower? Thank you!

[2021-07-15 07:54] danieljanes commented on #770
Hi @mansiparashar , thanks for reaching out! We don't have an image segmentation example yet. If you have a particular image segmentation pipeline/project in mind we can help you to federate it using Flower (it should work pretty much the same way as it does for image classification and other tasks). Would you be interested in contributing such an example?

[2021-07-16 12:37] Sylarair opened #772 "How to set server and client address?"
Hi, all,

I tried the [pytorch_from_centralized_to_federated](https://github.com/adap/flower/tree/main/examples/pytorch_from_centralized_to_federated) on my Mac, which works OK. However, when I tried it on the remote server, it showed 'failed to connect to all addresses' (please see the attached screenshot). Could anyone have any idea which could solve my problem? Many thanks!

<img width="1129" a

[2021-07-17 05:14] mansiparashar commented on #770
Yes sure, I will take it up

[2021-07-19 02:10] venture2928 opened #775 "Long time of training in a single round result in idle channel disconnection"
Hi, there. I am using the framework to implement my task, the task of a single round of training time is long. In the experiment I found that, the client will change the connection status of the channel to idle after ten minutes of training, resulting in disconnection, probably because no data is sent to the server, the server output the end of this round of training, tthe client can not send data

[2021-07-20 02:34] Sylarair commented on #764
I came across the same problem. Did you have any solution to it?

[2021-07-20 20:56] rpittala-equinix opened #777 "Saving global weights at server side"
Hello,
I am trying to implement saving of global weights and when i try to open the saved file, i see the weights are all encrypted.
How can i access and see the global weigths?

[2021-07-22 08:56] patselle commented on #777
Hi,

if the weights are enrypted you probably have saved the parameters (binaries). You have to convert them back into weights:

[code]
see `src/py/flwr/common/parameter.py `

Best Regards

[2021-07-22 09:09] patselle commented on #772
Hi,

you can parse the arguments or write the IP address of the server hard inside: `src/py/flwr/server/app.py` in line: DEFAULT_SERVER_ADDRESS = "[::]:8080"

Here an example of mine using argument parser on both sides server and client.
Server (`src/py/flwr_example/quickstart_pytorch/server.py`):

[code]

For the client, the argument parser is already implemented, see `src/py/flwr_example/quickst

[2021-07-22 09:12] patselle commented on #770
Hi,

I am also working on different sematic segmentation tasks (u-net, deeplabv3) and can provide some examples in the near future.<br>
But I have already successfully tested flower on mask r-cnn (instance segmentation) and can provide the code for it.

Best regards
Patrick

[2021-07-28 03:32] Sylarair commented on #772
Thanks! I solved the problem by setting IP as 127.0.0.1:8080 at both server and client.

[2021-07-28 09:35] amm299 opened #799 "Ray install not optional"
If you try to run the Quickstart-Pytorch example without installing Ray, the following error occurs:
[code]
It seems like the function definitions in ray_client_proxy.py need to be changed to handle the case Ray = None.

[2021-07-28 16:02] Sylarair opened #804 "Free variable 'loss' referenced before assignment in enclosing scope when using qffedavg"
Hi, all,

I have a question when applying QFedAvg strategy (please see the attached figure). After looking into the ```flwr/server/strategy/qffedavg.py```, I find that this may be due to the None of ```eval_result``` (line 189). Is there any reasonable solution to this problem? Thanks!

<img width="712" alt="截屏2021-07-28 下午11 57 23" src="https://user-images.githubusercontent.com/18133362/127356479

[2021-07-29 07:06] mitmanz commented on #765
Hello @Enrique-Marmol you should be able to adapt the Flower version of FedAvg to FedProx by setting FedAvg to accept failures in the initial parameters and then adding the proximal term to the loss of your network during training on the clients.

[2021-07-30 11:52] mansiparashar commented on #770
@patselle Hi,
That's really kind of you. Can we connect over slack, or can you mail me at contact.mansiparashar@gmail.com .
Thanks!

[2021-08-02 13:12] zhangboshi opened #807 "set_parameters wrong"
Hello, when using the efficientnetb0 pre-training model, the joint training will stop at the position shown in the figure below, and the following error will be reported.
![image](https://user-images.githubusercontent.com/59415080/127867393-9591b26e-e0df-49f3-8f7d-869cd3fbe248.png)
![image](https://user-images.githubusercontent.com/59415080/127867469-9b6f244a-35a0-43af-a842-e3fd7af22767.png)

[2021-08-03 03:13] kuihao opened #808 "Would flower server send model to client in the future?"
I have read the flower document, but model still need to pre-build in client.
I'm curious about the model sending function (i.e. send the tensorflow checkpoint and .meta or keras's .json, .h5 file)

[2021-08-03 07:06] #808 closed

[2021-08-04 17:34] pedropgusmao opened #813 "FL results are not available to the user as raw data at the end of each round."
## Problem

Results from a FL experiment are available via terminal logs at the end of the complete experiment. It would be nice to have access to metrics not only at the end of the complete FL training, but also at the end of each round for (1) partial logging using different interfaces such as `Tensorboard` and `Weight and Biases` and (2) decision making (reduce LR, etc...).

Right now `server.s

[2021-08-05 07:51] tanertopal commented on #799
@amm299 thank you! We already have a PR which will fix that shortly (#806)

[2021-08-13 10:51] hei411 opened #815 "Client Manager Sampling Bug"
In client_manager.py, the sample function blocks until min_num_clients clients are available. However, up to num_clients clients are sampled from the list. This will produce a bug if list length is shorter than num_clients (suppose min_num_clients<num_clients)
Suggested fix:
Change sampling line to `random.sample(available_cids, max(num_clients,len(available_cids)))
`

Incorrect code below:
[code]

[2021-08-14 21:02] 96Farhan commented on #563
Hi @tanertopal!. Thanks for information about increasing clients, it help me. But one more issue I am facing is that whether I start with 2/5/10 or any number of clients, server manipulate only 2 clients at a time and ends up with running number of rounds w.r.t 2 clients only. For example if I start with 5 clients with 3 number of rounds, ideally(if I am not wrong) it should have to execute 3 roun

[2021-08-15 10:44] danieljanes commented on #799
With #806 merged, Ray install is now optional (available in flwr-nightly and on branch `main`)

[2021-08-15 10:44] #799 closed

[2021-08-15 11:22] danieljanes commented on #563
Hi @96Farhan , the behavior you describe is correct (it's the default behavior of the default strategy). To customize it, you need to pass your own strategy instance to `start_server` and set `fraction_fit` to `1.0` (i.e. select all connected clients for training): https://flower.dev/docs/strategies.html

The server in `advanced_tensorflow` example might be helpful as well: https://github.com/adap

[2021-08-15 12:01] #659 closed

[2021-08-15 12:03] danieljanes commented on #659
The renaming just got merged into `main` and will become available in tomorrow's Flower nightly release (and the full 0.17 a little later) - thanks again for pointing this out @smoser82 !

[2021-08-17 04:58] Samvid95 opened #817 "Error: 'Sequential' object has no attribute 'set_weight'"
So I am trying out Federated Learning on structured data and following this [dataset of German credit data](https://www.kaggle.com/kabure/german-credit-data-with-risk). I have a simple tensorflow based model and code.

Here is my client class-

[code]

In order to remove all the external factors I removed the code where I calculate the evaluation.

Whenever I run the code with 1 server and multipl

[2021-08-17 16:15] karthik1145 commented on #564
I am interested in implementing this.

[2021-08-18 08:13] danieljanes commented on #817
@Samvid95 thanks for reaching out. Could it be the missing `s`?

- `self.model.set_weights(parameters)` in `fit`
- `self.model.set_weight(parameters)` in `evaluate`

[2021-08-18 08:26] Samvid95 commented on #817
Hahaha I completely missed it. Thank you

Now let me remove this question from the face of the internet. /s

[2021-08-18 08:26] #817 closed

[2021-08-19 15:45] Nada-Bu commented on #537
I have the same issue but after I changed port 5040 for both server and client, the FL worked fine.

[2021-08-22 08:19] Nada-Bu opened #823 "Insecure gRPC channel closed"
Hi, I was just trying the examples on https://github.com/adap/flower/tree/main/examples/simulation_pytorch
 After running, I got this error:
INFO flower 2021-08-22 07:27:50,930 | server.py:306 | Received initial parameters from one random client
INFO flower 2021-08-22 07:27:50,931 | server.py:120 | Evaluating initial parameters
INFO flower 2021-08-22 07:27:50,931 | server.py:133 | FL starting
DEBU

[2021-08-22 08:22] Nada-Bu commented on #823
I've changed "0.0.0.0:8080" to localhost:8080 or localhost:5040 but I got some errors.
Thanks.

[2021-08-22 15:50] kushal-g commented on #557
I would like to take this up.

[2021-08-23 04:55] wodeyoulai commented on #807
Hello,I have the same problem. Have you solved it？

[2021-08-24 13:16] Nada-Bu commented on #807
I've faced the same problem too.

[2021-08-24 13:38] zhangboshi commented on #807
I’m watching the fedBN example of flower official website.because your model has the 'bn' layer, the model parameters to numpy parameters will wrong
![image](https://user-images.githubusercontent.com/59415080/130625040-9c9e315a-3a63-4386-93b1-5033128812b9.png)
This official code gives the correct idea.server and client add like the next picture describe.
![image](https://user-images.githubusercont

[2021-08-24 13:39] #807 closed

[2021-09-03 23:29] fanto88 opened #831 "Advanced Tensorflow example using GPU"
Like the title suggest, i would like to try using GPU instead of CPU for the training session of the Advanced_tensorflow project inside the example of flower.

The problem is that i get this error doing so:

[code]

How can i fix it?

I have a radeon 3060 ti, tensorflow can see the GPU and use it with no problem. The code is like the example, i just added those lines:

[code]

Inside client.py and

[2021-09-07 17:26] architjen commented on #762
Hi @danieljanes, I'm looking for my first contribution, can I take this issue?
Also, could you brief me about the issue a little bit?

[2021-09-07 20:37] danieljanes commented on #762
Hi @architjen , great to hear! Absolutely, feel free to take the issue. The general idea is to replicate the mypy config (that we currently have in mypy.ini) using pyproject.toml (and then get rid of mypy.ini altogether). Do you have any specific questions? Happy to provide more details

[2021-09-08 03:06] napoay commented on #823
+1

[2021-09-08 03:12] napoay commented on #823
I met the same error with you.  The reason for this is that the server was not started before starting the client.

[2021-09-08 09:07] architjen commented on #762
Ok, I'm on it!
I'll get back to you if I have any questions.

[2021-09-08 15:21] architjen commented on #762
Hi @danieljanes I'm trying to wrap my head around the issue rather than just solving it, correct me if I'm wrong, also, any additional remarks/suggestions from you would be much appreciated

The idea here is: Instead of using `mypy.ini` it's preferable to use `myproject.toml` (according to PEP 518) so that tools like pip can read what tools are specified in `myproject.toml` install them to a virtu

[2021-09-10 11:30] pedropgusmao opened #839 "Typing error expanding `grpc_client_proxy_test.py`"
In the file `src/py/flwr/server/grpc_server/grpc_client_proxy_test.py` a `ClientMessage.FitRes` cannot accept a `metrics` parameter.

[2021-09-10 14:01] pedropgusmao commented on #839
The original problem is when we try to assign `Dict[str, Scalar]`  to `ClientMessages` in general as seen below. Apparently there `typing.Mapping` is how protobuf translates `map` messages and it is having issues converting `Dict`.
[code]

[2021-09-13 12:52] art-yar opened #840 "[feature request] Secure gRPC connection"
Hello,

Currently the insecure connections (`insecure_grpc_connection`) are implemented for the gRPC client/server, however the support for creating similar secure connections is missing.

gRPC has SSL/TLS integration and promotes the use of SSL/TLS to authenticate the server, and to encrypt all the data exchanged between the client and the server.
According to the [gRPC guide](https://grpc.io/doc

[2021-09-14 17:05] jerrychen017 opened #843 "iOS Client Example"
Hi there, I was wondering if you had any iOS client example using flower? Or a C++ version of flower? Thank you!

[2021-09-18 19:45] ronnie-llamado commented on #762
@architjen Is there an update on this? I have the changes on a local branch queued up for a PR if you decide to pass on this one.

If I can offer a quick remark, try not to overthink it - it sounds like you have the idea.

[2021-09-19 11:59] Shehroz01 commented on #772
@Sylarair Thanks for your comment. I was having the same issue with Tensorflow and your solution also worked for me. Thanks :)

Cheers,
Shehroz

[2021-09-21 13:45] danieljanes commented on #843
Hi @jerrychen017 , the first step towards an iOS SDK is in #838 (C++ SDK. Afaik, the people working on it develop it on Linux/Android for now, but iOS should (theoretically) work with zero or minor modifications. Please let us know if you're interested in contributing!

[2021-09-21 16:26] jerrychen017 commented on #843
Hi @danieljanes , thanks for pointing me to the right place! I will definitely take a look and let you know if I think I can make meaningful contribution!

[2021-09-21 16:26] #843 closed

[2021-09-23 15:04] #564 closed

[2021-09-26 17:37] danieljanes commented on #341
One approach could be to include an `ARCHITECTURE.md` file:
https://matklad.github.io//2021/02/06/ARCHITECTURE.md.html

[2021-09-26 17:42] danieljanes opened #858 "MLFlow Integration"
Automatic logging to MLFlow:

https://www.mlflow.org/docs/latest/tracking.html#automatic-logging

[2021-09-30 12:54] krille90 commented on #831
It seems you are running out of GPU memory.

Did you try a lower batch_size? Alternatively, try to run fewer clients and see if that fixes your issue.

[2021-10-04 20:38] tanertopal commented on #762
@architjen thank you for your contribution. This issue is resolved in #853

[2021-10-04 20:38] #762 closed

[2021-10-05 14:07] Farhandev opened #864 "Federated Learning Comparison with Centralized Learning"
I have a very basic question, yet helpful for me in terms of comparing accuracies of FL and centralized ML for my research work using flower as framework.
1- Do we have to compare number of rounds of FL(considering one epoch per round), with number of epochs of centralized ML for comparing accuracies of both ?
2- Or we have to compare number of epochs of one round of FL with number of epochs of ce

[2021-10-11 13:29] danieljanes opened #867 "Drop Python 3.6 Support"
Several major libraries have started to drop Python 3.6 support

[2021-10-11 13:29] danieljanes opened #868 "Support Python 3.10"
Python 3.10 is about to be released

[2021-10-15 07:01] DeltaRule opened #880 "Issue with fraction_fit and min_available_clients in fl.server.strategy.FedAvg"
I maybe wrong, or I'm not 100% sure how the fl.server.strategy.FedAvg (fraction_fit) works, but this ist my code :
 strategy = fl.server.strategy.FedAvg(
        fraction_fit = 1.0,
        fraction_eval = 1.0,
        min_available_clients = 10,
        eval_fn=get_eval_fn(model, testX, testY, idxList),
        on_evaluate_config_fn=evaluate_config,
        initial_parameters=fl.common.weights_to

[2021-10-17 14:03] danieljanes opened #883 "Add flwr.__version__"
Having `flwr.__version__` will enable programmatic version checking, similar to how other libraries do it (e.g., `numpy`, `tensorflow`, `torch`, `torchvision`)

[2021-10-21 11:53] fadilazer opened #888 "tensorflow fit_generator does not work"
Hello,

I am trying to run train a segmentation model using fit_generator(), nothing seems to happen. I do not receive an error message but also the models are not training. Does flower support fit_generator?

Thanks in advance,

[2021-10-22 09:03] #888 closed, assigned to nobody

[2021-10-26 06:29] Sorna-Meena opened #892 "Attribute error when running examples/android"
Hi,

I tried running the Examples/android script but encountered the following error when running the line:
`poetry run ./run.sh
`

[code]
How to resolve this error?

[2021-10-29 00:46] tylershumaker opened #894 "TFRS Model with simulation"
I am trying to combine Tensorflow recommenders (TFRS) quickstart [example](https://www.tensorflow.org/recommenders/examples/quickstart) with the Flower quickstart simulation [notebook](https://github.com/adap/flower/tree/main/examples/quickstart_simulation) in Colab.

I can't get past this error:
[code]
model.build() is not required to train original tfrs model.
Link to Colab [here](https://colab.

[2021-11-03 07:50] jalilahmed commented on #487
Thanks a lot in advance for flower (a really good framework with a lot of potential). I am sorry if this is not exactly related to the issue but isn't it a good idea to provide functions in Server Class which the user can change, such as,
- on_round_start()
- on_round_end()
- on_fit_end(), etc
This will allow the user to do useful changes, such as saving weights, add callbacks, etc.

[2021-11-06 13:14] ncioj10 commented on #766
I actually have the same problem on a machine with Ubuntu + SLURM + 4 GPUs (A100) and several python processes on the same node (including the server). After a random number of iteration it just crashes, even though the training itself is actually working  until then and since it is directly locally binding, I would rule out that the connection breaks down.

[2021-11-06 23:22] ncioj10 commented on #699
I have the exact same problem, it seems that grpc is losing its connection randomly. I have tried quite a few things including forking and upgrading grpc and adding a retry config to on the client connection etc.
The error still persists and the training just randomly crashes.

I'm running on a Unix Ubuntu Slurm node with 4 A100 Gpus and after a while it just crashes randomly during training all c

[2021-11-10 22:19] danieljanes opened #897 "Create FedBN baseline"
Paper: https://arxiv.org/abs/2102.07623

[2021-11-14 12:55] tanertopal commented on #669
Closing this as baselines is in a self contained sub-project in our repository now:

https://github.com/adap/flower/tree/main/baselines

[2021-11-14 12:55] #669 closed

[2021-11-15 10:35] tanertopal commented on #599
@pedropgusmao @jafermarq @danieljanes is this kind of resolve with this: https://flower.dev/docs/saving-progress.html ?

[2021-11-15 10:38] danieljanes commented on #599
@tanertopal it's possible with the approach described in the docs, but my understanding is that the issue is about providing a built-in way to save checkpoints automatically

[2021-11-18 13:20] JozefKondas opened #904 "Raspberry pi 3 cannot import flwr"
I installed flower :

`pip install flwr`

It installed properly and now I have problem to import it. Thanks for help

`Python 3.9.2 (default, Mar 12 2021, 04:06:34)
[GCC 10.2.1 20210110] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/pi/Desktop/flower/flower_env/lib/python3.9/si

[2021-11-18 13:47] tanertopal commented on #904
@JozefKondas could you provide a bit more information on the system? Which OS, Version, which RPI, etc. Also would be nice if you can copy the error message into a comment or edit it into your description.

[2021-11-18 13:56] JozefKondas commented on #904
`PRETTY_NAME="Raspbian GNU/Linux 11 (bullseye)"
NAME="Raspbian GNU/Linux"
VERSION_ID="11"
VERSION="11 (bullseye)"
VERSION_CODENAME=bullseye
ID=raspbian
ID_LIKE=debian
HOME_URL="http://www.raspbian.org/"
SUPPORT_URL="http://www.raspbian.org/RaspbianForums"
BUG_REPORT_URL="http://www.raspbian.org/RaspbianBugs"
`

[2021-11-18 23:50] sikhapentyala opened #905 "Using get_properties()"
I am testing a case where all the clients, before the start of FL fit rounds, communicate some information (Config:Dict[str,int]) to the server. The server collects the information from all the clients and generates new aggregated information. This new information should be shared with all the clients before they start fit rounds.

I am working with numpy_client. I have used it as follows:
-- Step

[2021-11-19 05:37] #892 closed

[2021-11-23 21:21] danieljanes commented on #905
Hi @sikhapentyala - you're spot on, the new `get_properties` method is intended to be used for the idea you described above :)

It is, however, not quite finished yet. The main aspects of the new features have been merged into branch `main`, but the server doesn't call `get_properties` just yet (which is also why we haven't made a new major release yet).

If you're interested, we can ping you once

[2021-11-23 21:32] danieljanes commented on #894
Hi @tylershumaker , thanks for reaching out. The error you're seeing seems to be a TensorFlow error. Could it be related to the commented-out line `model.build(...)`? Maybe it's caused by the fact that when you create the `MovieLensModel` and pass it to the `FlwrClient`, the first thing that happens in `get_parameters` is `model.get_weights` (or in `fit` the call to `model.set_weights`)? The error

[2021-11-23 21:35] danieljanes commented on #880
Hi @DeltaRule , you're description of how it should work is spot on. The log output you're seeing shouldn't be possible. Could you share your code - or even better, a minimal reproduction of this error?

[2021-11-23 22:23] sikhapentyala commented on #905
Hi @danieljanes, thank you for the details.

I would appreciate any update when this feature is ready for use.
I would be happy to test this feature!

[2021-11-24 08:27] DeltaRule commented on #880
Ahhh I'm really sorry, but I don't have the code anymore, because I change the whole Concept of flwr to work for my Example. I ofc should have posted it directly. But if I remember correcltly I used https://github.com/adap/flower/tree/main/examples/advanced_tensorflow . As the base (just changed the FedAvg strategy to original post and the network and dataset).
Also I used WSL Ubuntu 18.0.4. as  t

[2021-11-24 08:43] kinshukdua opened #907 "Support for Homomorphic Encryption"
Homomorphic Encryption is one of the most popular way to guarantee privacy-preservation when using FL. I looked through the examples, the documentation and this repo but I could not find any mention of Flower being used along side with homomorphic encryption.
Does Flower support homomorphic encryption?

[2021-11-24 22:51] Linardos opened #910 "Loading a saved model in PyTorch - Confusion regarding the Weights and Parameters classes"
I'm saving a model according to the guidelines here: https://flower.dev/docs/saving-progress.html

This saves the "aggregated_weights" into an ".npz" file. However, loading this file and its contents into a PyTorch model afterwards for inference is not clear to me. I'm having a bit of a hard time understanding the "aggregated_weights" variable as well as it appears to be a flwr.commons.Parameters

[2021-11-25 13:51] danieljanes commented on #910
Hi @Linardos, thanks for reaching out. This is a good question that many users might have, so I'll try to answer it with a lot of detail.

`flwr.client.NumPyClient` is a convenience class built on top of `flwr.client.Client`. The difference is that `Client` sends/receives lower-level values that are close to the actual gRPC messages sent over the wire, which in turn means that you have to write a

[2021-11-25 14:38] #910 closed

[2021-11-25 20:40] xpetrov opened #913 "Federated (client-side) evaluation omitted if there is one configured server-side. Flower 0.17.0"
Hi, in my project, I would like to evaluate the model both client-side and server-side. As I see, the framework ignores federated evaluation if there is centralized evaluation configured. See `\flwr\server\strategy\fedavg.py:210`

[code]

Is there any reason for such behavior?

[2021-11-26 15:22] mariaboerner1987 commented on #897
We are working on the issue in PR https://github.com/adap/flower/pull/914

[2021-11-26 15:23] Linardos opened #915 "Selective Sampling of Clients / Centers"
I'd like to implement a method of mine that does selective sampling per federated round. I want to sample 50% of the total centers at random. After investigating the repo a bit, here are the steps I followed to do this:

1. Inheriting from the fl.server.strategy.FedAvg class, my Strategy should change how the .configure_fit and .configure_eval functions sample the clients for training and evaluati

[2021-11-26 15:28] mariaboerner1987 commented on #864
Hi @Farhandev,
it depends on your setup and what you want to measure.
The paper about the carbon footprint of centralized and federated setups maybe gives you some ideas about such a comparison:
https://arxiv.org/pdf/2102.07627.pdf

[2021-11-29 11:05] #915 closed

[2021-12-02 08:37] phleungae opened #920 "TypeError: Can't instantiate abstract class CifarClient with abstract methods get_properties"
I just did a clean installation using Anaconda3, running on Windows 10 64Bit. I assume that for my first trial, I do not need to modify the code and therefore I followed the installation instruction and quickly tried on "quickstart_tensorflow", "quicksart_Pytorch" and "advanced_tensorflow". But when I run "python client.py", all 3 examples shows the same error message as shown below.

![error](htt

[2021-12-03 12:55] danieljanes commented on #913
Hi @xpetrov , thanks for asking! This is a usability artifact from the very early days of Flower, and to be honest, I don't think it makes sense any more. Changing it would mean a breaking change, but we have a few of those ahead of us anyways, so I'd say let's fix it.

There's room for different solutions here, and any solution will need to enable users to selectively enable/disable both centrali

[2021-12-03 13:23] xpetrov commented on #913
Thank you @danieljanes for your answer. Sure, looks to me as a good approach.

Looking forward to future releases

[2021-12-03 16:47] danieljanes opened #922 "Add PyTorch checkpointing example to docs"
Add an example for saving PyTorch checkpoints to the docs. The code is here:

https://github.com/adap/flower/discussions/911#discussioncomment-1743210

The relevant docs are here:

https://flower.dev/docs/saving-progress.html

[2021-12-05 04:50] vaseline555 opened #926 "(simple addon) Implementation of 'pathological non-IID' data split setting"
Hello!

I have participated in the guest lecture @ KAICD on 27th October.
As FL is still unfamiliar to many researchers/engineers in S. Korea, the lecture was very interesting and useful.
Thank you for your planning of the lecture.
(Though I added an issue to [this repository](https://github.com/adap/kaicd-fl-poc-notebooks/issues/1) of yours, but I thought the repo is not actively maintained)

Aft

[2021-12-07 06:41] Victoria-Wei opened #930 "Can't install app for Android Example"
Hi,

I want to perform federated learning with Android Clients, and I tired to run through the Flower Android Example in this repo.
However, I failed to install the apk file on all 3 Android mobiles.
It says that `[INSTALL_FAILED_NO_MATCHING_ABIS: Failed to extract native libraries, res=-113]`
Is there anything I can do to solve this problem?

[2021-12-07 08:15] dulicui commented on #920
I encountered the same problem as you and found the reasons are as follows:

1. The version of flwr installed through pip is 0.17.0(0.18.0 has not been released), there is no abstract methods get_properties for abstract class Client or NumPyClient;
2.  The code I debugged is 0.18.0, and examples in src/py/flwr_example are not updated I guess.
So, you can fall back to the version corresponding to t

[2021-12-07 12:08] AnasKhann22 opened #931 "Error when running Flower"
Hi, I'm new to Flower and Federated Learning. I have created a below server file using Flower and whenever I'm running it I'm getting below error. I'm using mac M1 2020.  Can someone please help me with this.

`import flwr as fl
import sys
import numpy as np

class SaveModelStrategy(fl.server.strategy.FedAvg):
    def aggregate_fit(
        self,
        rnd,
        results,
        failures

[2021-12-08 04:20] iReivax1 commented on #931
im running into the same issue

[2021-12-09 12:02] jafermarq commented on #931
Have you looked into this? (see final comment) https://github.com/grpc/grpc/issues/25082

[2021-12-09 12:09] jafermarq commented on #904
@JozefKondas, have you tried running the [Embedded Devices](https://github.com/adap/flower/tree/main/examples/embedded_devices) example? There are several packages that require native compilation for `aarch64` (i.e. RPi, Jetson, and other devices running Arm CPUs).  It this [`Dockerfile`](https://github.com/adap/flower/blob/main/examples/embedded_devices/base_images/cpu/Dockerfile) you can see the

[2021-12-10 19:22] pedropgusmao opened #936 "Examples not installing the correct version of Ray"
When running a simulation example, the install procedure installs ray==1.9.0

[code]
If the line in https://github.com/adap/flower/blob/715d029422773031a14a6044e31590f6d6f75640/examples/simulation_pytorch/pyproject.toml#L16 is uncommented and the line above it is commented, then the expected behavior (ray==1.6.0) is obtained (if we just clone the repo and do not delete it, of course).

I think thi

[2021-12-13 15:53] shimst3r opened #938 "DNS resolution failed when run with docker-compose"
## Expected outcome

Running my `server.py` and `client.py` in different services using `docker-compose` should work.

## Actual outcome

The `client.py` cannot connect to the server started in `server.py` with the following error message:

[code]

## Additional information

The server is started via:

[code]

The client is started via:

[code]

And the `docker-compose.yaml` looks like this:

[cod

[2021-12-14 15:31] danieljanes opened #943 "Add FedNova baseline"
FedNova paper: https://arxiv.org/pdf/2007.07481.pdf

[2021-12-15 09:31] Sorna-Meena opened #944 "Flower server sending model to android client"
Hi @danieljanes,

I am using flower on android and I noticed that the flower server doesn't send the android clients the model instead the model is pre-built on the client device. How to resolve this?

Also, Currently, after the client finishes training 'n' number of rounds and returns the losses and metrics to server, the terminal running the server script terminates. The next time we run the ser

[2021-12-15 13:36] Victoria-Wei commented on #944
Hi,

I want to use flower on android as well. Are you using the app provided by flower?
If so, could you please tell me how you install the app? And maybe the type of your mobile as well.
I tried installing it on 3 different Android mobiles, and none of them worked.... :(

[2021-12-16 04:51] Sorna-Meena commented on #944
Hi @Victoria-Wei ,

I followed the steps as mentioned in the repo: [https://github.com/adap/flower/tree/main/examples/android](url). You can install the app from the link [https://www.dropbox.com/s/e14t3e9py3mr73v/flwr_android_client.apk?dl=1](url). This link  mentioned in the download_apk.sh file too.

Try installing the app in a mobile that has android version>=11.

Hope that works!!

[2021-12-16 05:48] Victoria-Wei commented on #944
Dear @Sorna-Meena,

Thank you for your reply!!!
It might be the problem of the android version since I did the exact same thing as you mentioned, except that my mobiles have android version < 10.
I'll look for emulator to install the app then.

Thank you again!!!!!!!

[2021-12-17 08:39] tanertopal commented on #938
@shimst3r Docker does by default not support afaik IPv6. Could you try starting your Flower server and clients using IPv4 or enable IPv6 in your Docker daemon?

[2021-12-19 23:23] sisco0 opened #949 "Fix on comment required for the Android example"
The _Android_ example currently uses a `server.py` file under the `examples/android` path. This one describes the server configuration and initialization.

Currently, there is a comment stating what is shown next:

[code]

The `config` parameter of `start_server` is defined in `src/py/flwr/server/app.py` as follows:

[code]

The comment above the `start_server` call is referring **four** rounds bu

[2021-12-20 00:50] sisco0 commented on #944
Certainly the model is loaded in the _Android_ client side as shown in the next source code portion of `examples/android/client/app/src/main/java/flwr/android_client/TransferLearningModelWrapper.java`:

[code]

It would be good to create a new server-client application that would be able to accept new models from the server and load them through the network instead. How could we achieve this? I ha

[2021-12-20 01:06] sisco0 commented on #448
Should `current_round` be renamed to `fl_current_round` as well?
https://github.com/adap/flower/blob/8b9054866a46d0a41638a0a7ca9632b646eecea2/src/py/flwr/server/server.py#L166

[2021-12-20 01:16] sisco0 commented on #930
What is the current device you are trying to run this application in? The key is ensuring that third-party dependencies are available for your architecture.

[2021-12-20 01:26] sisco0 commented on #907
Is this proposal somehow related to https://github.com/tf-encrypted/tf-encrypted project? It that is the case we could clone our `examples/quickstart_tensorflow` into `examples/quickstart_tensorflow_encrypted` to use the syntax shown in the https://github.com/tf-encrypted/tf-encrypted/blob/master/README.md file.

[2021-12-20 01:46] sisco0 commented on #883
Maybe the way to go for not duplicating the _Poetry_ version name is just the one specified in https://github.com/python-poetry/poetry/issues/144#issuecomment-623927302.

[2021-12-20 02:04] sisco0 commented on #943
Is a new `fednova.py` file expected to be created with its corresponding `fednova_test.py` test file under `src/py/flwr/server/strategy` for solving this issue?

[2021-12-20 02:20] Victoria-Wei commented on #930
How to check if the third-party dependencies are available?

I tried on
(1) HTC U11 with Kernel version,
[code]
, Baseband version of `8998-200321-1905141529`, and android version of 9

(2) HTC Desire 12s with Kernel version,
[code]
, Baseband version of `953_GEN_PACK-1.181186.4.183606.3`, and android version of 8.1.0

(3) ASUS_Z017DA with Kernel version,
[code]
, Baseband version of `M3.10.47.19-

[2021-12-20 23:16] sisco0 commented on #930
I would suggest compiling the project contained in the https://github.com/adap/flower/tree/main/examples/android/client folder by setting different splits so binaries for different platforms could be generated. For that purpose, we only need to append this configuration to

[code]

Then, building the _APK_ newly could come up with a solution. But, just for getting to know better what are your targ

[2021-12-22 11:47] #949 closed

[2021-12-22 15:26] fahim17pk opened #955 "FL starting but no progress!"
Hi, I am running pyTorch CIFAR-10 Example. I make the environment and change the server and client file with localhost:8080. It start but went to some infinite loop. No error message to find the mistake.

**Server side messages:**
INFO flower 2021-12-22 15:06:15,217 | app.py:77 | Flower server running (insecure, 1 rounds)
INFO flower 2021-12-22 15:06:15,218 | server.py:118 | Initializing global pa

[2021-12-22 16:12] fahim17pk commented on #955
Hi again! I just find if you initiate 2 client then it works and 0 failure. I think some issue of indexing for just one client.

[2021-12-22 16:12] #955 closed

[2021-12-23 17:00] ramireguilherme opened #956 "Error when converting model to .tflite"
Hello @akhilmathurs ,
I'm trying to run the_tflite.py for the example provided on https://flower.dev/blog/2021-12-15-federated-learning-on-android-devices-with-flower
I'm getting the following error:
`flower/examples/android/android/tflite_convertor/tfltransfer/heads/keras_model_head.py", line 51, in __init__
    input_def = next(self._predict_signature.inputs.values().__iter__())
AttributeError:

[2021-12-24 15:57] Victoria-Wei commented on #930
Sorry for the late reply.... I was busy for the past few days. And thank you for your reply!!!

I don't know how to run the command `adb shell getprop ro.product.cpu.abilist` on my phone, so I downloaded an app that tells the command set (not sure what the actual English word for this is) the mobile uses.

2 of the above mobiles use arm64-v8a. (I didn't test the third one due to memory shortage) T

[2021-12-24 16:00] sisco0 commented on #930
`adb` command could be run by connecting the devices by using USB to your computer, it is like the shell login for debugging (ADB = Android Debugging).

Great to know about the issue being solved by using the specific target architecture. This issue could be closed.

[2021-12-25 03:41] Victoria-Wei commented on #930
Thank you again for your help!

[2021-12-25 03:41] #930 closed

[2021-12-26 18:49] sisco0 opened #961 "Error when running ./dev/test.sh related to mypy version"
I started up from a new poetry environment so I cleaned the cache and deleted the old environment. After that, I created a fresh poetry environment as described in the developer documentation (https://github.com/adap/flower/blob/main/doc/source/getting-started-for-contributors.rst).

After running `./dev/test.sh` under the _Poetry_ shell I had the next errors coming up (which seem logical for me).

[2021-12-26 19:08] sisco0 commented on #961
**Update**
The issue went away when used `pip3 install --upgrade mypy` so _mypy_ version `0.930` got installed 🙂.

[2021-12-26 23:51] tanertopal commented on #448
@sisco0 Thank you for this! @danieljanes and I will discuss this PR as it will impact user facing APIs. Are you already on our Slack? Would be great to connect there too.

[2021-12-28 18:35] sisco0 commented on #883
We need to open a second step for this issue where we create a test for the version. Checking if `__version__` is a string is an option as pointed out in https://github.com/adap/flower/pull/952#pullrequestreview-840117791.

[2021-12-29 07:15] sisco0 commented on #363
Bumped as this is very relevant and could bring more developers to the project.

[2021-12-29 15:39] hugolytics opened #969 "Implementing XGBoost is impossible with NumpyClient"
Hi Y'all,

This project is really cool, but it should also support decision trees due to their popularity and applications. I would like to contribute a working XGboost implementation.
However, this is not possible with the numpy client and FedAvg strategy, since the model learned by the decision tree boosters in XGboost, lightGBM, and other frameworks cannot be represented by a fixed array of coe

[2021-12-29 18:41] nikita-kotsehub opened #971 "`pull access denied for flower_client` for Embedded Devices example with RPi4."
I am trying to run the Embedded Devices example on a Raspberry Pi 4 with Raspian on it. (flower/examples/embedded_devices/). However, when I run `./run_pi.sh --server_address=<SERVER_ADDRESS> --cid=0 --model=Net`, I get this error message while building the Docker image:

[code]

I am assuming the problem is with access to the `flower_client:latest` image? Or can it be because I am using Raspian i

[2021-12-29 21:35] sisco0 commented on #971
As stated in the error **Unable to find image ... locally** we need to build the _Docker_ image first by using the script attached below:
https://github.com/adap/flower/blob/c6350d124d12967931c2af8c68f6157d40826a38/examples/embedded_devices/build_image.sh

Consider building the _Docker_ image by using the cited script and retry please.

[2021-12-29 22:41] sisco0 commented on #969
It would be good to know why we could not go from the `DMatrix` _XGBoost_ custom data format to _Numpy_ `ndarray`. Would the https://github.com/aporia-ai/dmatrix2np library solve this issue and would ease the _XGBoost_ integration into our stack?

[2021-12-30 13:50] tanertopal commented on #883
@sisco0 I added a simple test for it #967. We can successfully close this issue now.

[2021-12-30 13:50] #883 closed

[2021-12-30 15:02] hugolytics commented on #969
Converting the DMatrix to numpy ndarray would not solve the problem because [the data is stored in a DMatrix object](https://xgboost.readthedocs.io/en/stable/python/python_intro.html#data-interface) it does not contain the trained model,  in a federated learning setting the data is not passed around the nodes but the trained model coefficients are.

To illustrate what needs to be communicated betw

[2021-12-30 17:39] sisco0 commented on #969
It is certain that _XGBoost_ bases itself on using _JSON_ instead of raw bytes for import-export capabilities of the models [when using the _C bindings_ as shown in their repository](https://github.com/dmlc/xgboost/blob/c968217ca849dbaa47ec9a8d18b39772f819c1af/include/xgboost/model.h). This could lead to a better integration with _C client_ for _Flower_.

Storing the decision rules `Booster` class

[2021-12-30 18:24] danieljanes commented on #969
Thanks for the question @hugolytics and thanks for the idea @sisco0!

First off, I need to start with a disclaimer: I'm not familiar with XGBoost and I don't have the bandwidth right now to go through the paper. That being said, there are many details in the previous message that I can comment on.

On the lowest level, Flower communicates byte arrays between server and clients. This means that as

[2021-12-30 18:48] sisco0 commented on #969
Maybe the road to go is to create an `examples/quickstart_xgboost/client.py` file similar to the `examples/embedded_devices/client.py` file which already contains a client based on `fl.client.Client`.
Added to that, we could add a new strategy at `src/py/flwr/server/strategy/fedxgb.py` (with its corresponding `_test.py` file).
After that, we could go on and create the `examples/quickstart_xgboost/

[2022-01-02 00:31] sisco0 commented on #936
The latest `ray` version is used as it could be seen by running `poetry install -vvv`. This behavior is the expected one from the _Poetry_ package, as it is already detecting an `import ray` under the `main.py` file.

The linked `../../` path is not accessible after running the `rm -rf flower` command in the first line of the shared _Bash_ script, so we would fail on fixing these extras. There wou

[2022-01-02 17:43] pedropgusmao commented on #936
I really like the idea of having a hierarchical poetry system tbh, but I guess Examples were also meant to be used in a stand-alone fashion i.e. if you already have Flower you don't have to build it. @tanertopal @danieljanes any thoughts?

[2022-01-03 07:54] Sorna-Meena commented on #944
@sisco0 Sorry for the late reply and thank you very much for your detailed response! I now understand how the model is loaded on the client side.

However, I do have a few questions. First, it is still unclear to me why after the federated learning process is over, the server script terminates.

Secondly, after the FL process is over where is the global model stored. Ideally in a FL setup, once a

[2022-01-03 11:08] SamuBox opened #983 "Empty distributed metrics in federated evaluation"
When using the advanced_tensorflow example, and removing the centralized evaluation, I get the desired federated evaluation. But the metrics are empty, and they should show the accuracy. I only get the distributed losses

![image](https://user-images.githubusercontent.com/30962122/147923870-9c8e8f57-f362-4590-a185-6d6812881001.png)

The client is returning the accuracy in the evaluate function

![

[2022-01-03 15:44] danieljanes commented on #983
Hi @SamuBox , thanks for the question! This is expected behaviour, but let me explain: Flower does not automatically aggregate custom metrics (e.g., `{"accuracy": accuracy}`) because it's not always the right thing to do a weighted average and because there are many value types for which there is no sensible default aggregation (e.g., `str`). The dict was intended to be flexible enough to communic

[2022-01-03 23:57] sisco0 commented on #944
On the question about **why the federated learning is over after a certain number of rounds?** The answer to that is found at the `num_rounds` configuration parameter for the server; when the number of rounds set is reached we call to `disconnect_all_clients()` which performs a graceful shutdown by calling to `shutdown()` and disconnecting all the clients. The `disconnect_all_clients()` is the las

[2022-01-04 13:50] danieljanes commented on #936
The reason for this behaviour is the following: back in the 0.17 release, the Ray dependency was specified as [`^1.6.0`](https://github.com/adap/flower/blob/d963b39ff191164654b659e0e3a72aeef8cc3480/pyproject.toml#L67), so Poetry installs the latest version (which is `1.9.1`).

Workarounds:
- Try to install Ray 1.6 manually, then run the example install as mentioned above (IIRC, this should keep Ra

[2022-01-04 14:34] SamuBox commented on #983
@danieljanes Thanks for the detailed answer!

You should definetely include it in the `advanced_tensorflow` , or even better create a `tensorflow_from_centralized_to_federated`

Also this (https://flower.dev/docs/saving-progress.html#aggregate-custom-evaluation-results) example should include all the code, as I can't make it work

Could you post a full example with the fit function? Im getting dif

[2022-01-04 14:36] #936 closed

[2022-01-04 14:49] hugocool commented on #969
Okay,

So if I understand correctly using the JSON schema would be the preferred communication medium for trained model params.
A new strategy should support different boosting libraries, not just XGboost, but also LightGBM, Catboost and others.

So my proposal would be that I open a PR, and in accordance with @sisco0 suggestion
* Create `examples/quickstart_xgboost/client.py`
* Develop a `JSONCli

[2022-01-04 15:07] sisco0 commented on #969
Your proposal looks good to me. Please @danieljanes, could you take a look and double check the proposed file structure and workflow in its correctness? 😀

[2022-01-05 14:24] sabinavanrooij commented on #699
@danieljanes @ncioj10 Have you already found a solution to this problem? I have a very similar problem where after 5 epochs (approximately 10 minutes) my training crashes due to the "stream removed" error

[code]
I am training with two clients (connected to localhost:5000, the server is at 0.0.0.0:5000) on the same GPU (NVIDIA GeForce RTX 3090) in the same docker container with tmux. I'm running o

[2022-01-05 17:58] ncioj10 commented on #699
Yes I did and it is actually a weird bug in the use of the polling strategy by gRPC.
Apparently, the Python gRPC implementation uses epollex as a standard, which causes this bug (the processes seem to cause race conditions in the polling queue, or something similar).
You have to set `export GRPC_POLL_STRATEGY=epoll1`, that should resolve the bug.

[2022-01-05 18:13] #840 closed

[2022-01-06 08:40] sabinavanrooij commented on #699
Thanks a lot! Your solution seems to work 👍

[2022-01-06 11:31] shubham-malaviya opened #991 "Accessing global model parameters into custom strategy file"
For example, let say custom strategy is `class FedCustom(flwr.server.strategy.FedAvg):`  ,then is it possible to access global model parameters into function like `aggregate_fit() `?

[2022-01-06 14:26] sisco0 commented on #991
`aggregate_fit` is already defined as an Strategy class internal function, so we could access all members from the Strategy class from it by prepending `self.` without inconvenience. If you want to access the `Server` instance model parameters at the `aggregate_fit` function you could do so just by using the `parameters` parameter from this function, as this is already set to `self.parameters` in

[2022-01-06 17:09] sisco0 commented on #983
Could you kindly review if the associated _PR_ makes sense @danieljanes @SamuBox for the centralized version?

[2022-01-06 22:15] sisco0 commented on #956
The error seems related to a breaking change on export functions from _Tensorflow_. You could find more information at https://github.com/tensorflow/tensorflow/issues/45949#issuecomment-817198226. The proposed solution is at using another _Tensorflow_ version.

[2022-01-07 04:13] sisco0 commented on #983
Try to clone my _PR_ and run the next commands:

[code]

[2022-01-07 06:42] VincentMag opened #998 "Issue with flower quickstart"
Hello,
I was trying to run the quickstart tensorflow example, however whenever I launch client.py, I get the following error, did anyone run into the same issue ?

Files already downloaded and verified
Files already downloaded and verified
DEBUG flower 2022-01-07 07:36:28,587 | connection.py:36 | ChannelConnectivity.IDLE
INFO flower 2022-01-07 07:36:28,587 | app.py:61 | Opened (insecure) gRPC conn

[2022-01-07 11:10] SamuBox commented on #983
@sisco0  Thanks for all the work!

It's works perfect :)

[code]

[2022-01-07 11:41] #983 closed

[2022-01-07 12:46] danieljanes commented on #926
Hi @vaseline555, thanks for reaching out and sorry for the delay in getting back to you. The repository you linked looks really good!

We're currently creating a some initial baselines in the `baselines` directory. The experiments you created would be a very good fit, could you open a PR that adds them to a **new package** under `baselines/flwr_baselines/experiment`? We're still in the process of

[2022-01-07 13:48] Sorna-Meena commented on #944
@sisco0 Thank you very much for your detailed explanation!! It was very helpful for me to understand.

But I did notice something in the saving model using `SaveModelStrategy` method you mentioned.
https://github.com/adap/flower/blob/67cb2f37dac076c7ef62ff34145cd2c2545fc310/src/py/flwr_example/pytorch_save_weights/server.py#L30-L42

In the line 37,  does `the super().aggregate_fit()` function actu

[2022-01-07 15:08] sisco0 commented on #944
As you wisely pointed out, we are really returning parameters from the `FedAvg` (which is the super class for this strategy) `aggregate_fit()` function as it could be seen in `src/py/flwr/server/strategy/fedavg.py:257`. Then, we should fix this behavior just by adding a `parameters_to_weights()` call in `src/py/flwr_example/pytorch_save_weights/server.py:37`. That would solve the savez issue that

[2022-01-09 03:01] Sorna-Meena commented on #944
@sisco0 Thank you for your immediate response!

 As you suggested, I have tried out your recommended option to fix the error. Though my error is fixed as I mentioned previously, the training always fails for all clients during the `fit_round` and and the server output either freezes after the `fit_round` or returns the `weights` to be `None` which in turn makes it unable to save the model weights.

[2022-01-09 13:37] niklas-scholz opened #999 "app_evaluate result not visible due to client shutdown"
### Describe the bug

When I execute the TensorFlow quickstart example from https://flower.dev/docs/quickstart_tensorflow.html, I cannot see the app_evaluate results. The reporting process stops after "metrics_centralized {}".
I noticed it also while running it in a distributed environment with more verbose debug settings. after metric_centralized, it seems that the server wants to connect to the

[2022-01-10 23:38] mahdibeit commented on #537
@lfzhagn  For me changing the [::] to localhost for both client and server side as follow worked:

`fl.client.start_numpy_client("[::]:8080", client=CifarClient())`
to
`fl.client.start_numpy_client("localhost:8080", client=CifarClient())`

[2022-01-11 04:56] shubham-malaviya commented on #991
Thanks @sisco0 . I wanted to access previous round's global parameters into the `aggregate_fit` function. Previously I set the `self.server_parameters` into `aggregate_fit` itself, but your approach of setting it into `configure_fit` is more convenient.

Thanks again!

[2022-01-11 04:57] #991 closed

[2022-01-11 14:42] danieljanes opened #1000 "Document adding baselines"
### Describe what the documentation is missing.

The are a number of Flower Baselines, but there's no documentation on how to add new baselines.

### Suggest your improvement.

Add documentation that describes exactly how new baselines should be added. Questions include:

- Where does the Python code go?
- What should directories/files be named?
- Does the new baseline need to be added to any scri

[2022-01-12 09:55] kaiwang0112006 opened #1002 "Did flower support PSI (Private Set Intersection) ?"
### What is your question?

 I'm wondering did  flower support PSI, which is step for vertical federated learning.  It would be nice to see an example of vertical federated learning also.

[2022-01-13 11:05] harshlancer commented on #1000
@danieljanes If nonone is assigned I'd like to work on this issue.

[2022-01-13 15:08] #361 closed

[2022-01-13 15:08] #1000 closed

[2022-01-14 02:42] Hans0124SG commented on #999
I encountered the same issue.

By looking at the source code of [`app.py`](https://github.com/adap/flower/blob/main/src/py/flwr/server/app.py), I realized that we can set `force_final_distributed_eval = True` when we run `fl.server.start_server()`.

Not sure whether this is intended, but it solves my problem.

[2022-01-14 15:16] necklace17 commented on #999
Hi @Hans0124SG, thanks a lot! That solved my problem. I am also not sure about this intention since, in [app.py](https://github.com/adap/flower/blob/main/src/py/flwr/server/app.py) line 155, the condition on this parameter is commented with  `# Temporary workaround to force distributed evaluation`

[2022-01-16 23:43] pedropgusmao opened #1008 "Should `get_parameters()` in NumPyClient be returning `Parameters` instead of a `List[ndarray]` aka `Weights`?"
Shouldn't `get_parameters()` in `NumPyClient` be returning `Parameters` instead of a `List[ndarray`] aka `Weights`?

https://github.com/adap/flower/blob/7c55e976f27cb66e74542d61eab31c473241dae0/src/py/flwr/client/numpy_client.py#L97

[2022-01-17 00:31] pedropgusmao opened #1009 "ClientManager not being used in `initialize_parameters`"
`ClientManager` not being used in function.
Should we consider the case where we call a client through the ClientManager and get their weights in case no `initial weights` have been set?
https://github.com/adap/flower/blob/7c55e976f27cb66e74542d61eab31c473241dae0/src/py/flwr/server/strategy/fedavg.py#L159

[2022-01-17 13:03] tanertopal commented on #956
@ramireguilherme @sisco0 can you confirm if the fix in #1001 works for you?

[2022-01-17 13:48] ramireguilherme commented on #956
@tanertopal  Thank you! That fixed the issue. I was able to run the example and convert to .tflite format.

[2022-01-17 13:48] #956 closed

[2022-01-19 09:15] tanertopal commented on #823
@Nada-Bu is your issue resolved or are you still facing them?

[2022-01-19 09:19] tanertopal commented on #775
@venture2928 could you provide a bit more background information on your environment / system and ideally some code to replicate your issue?

[2022-01-19 09:20] pedropgusmao commented on #813
Hi @ferasbg , `metrics` are now returned inside a `History` object as in https://github.com/adap/flower/blob/cc4dbb243fa268e29317680a41b0714d2aa5d23e/src/py/flwr/server/app.py#L120

[2022-01-19 09:20] #813 closed

[2022-01-19 09:25] danieljanes commented on #758
Thanks for reaching out @Samvid95 @prathapkumarbaratam . Did you make progress on this, and if so, would you be interested in contributing a new Flower example?

[2022-01-19 09:26] #689 closed

[2022-01-20 10:09] danieljanes opened #1016 "Upgrade Ray to the latest stable version"
### Describe the type of feature and its functionality.

The `ray` dependency is currently pinned to `==1.6` because `ray==1.7.0` introduced backwards-incompatible changes which broke the Virtual Client Engine. The current Ray release is 1.9, so Flower should (a) update to the latest version and (b) declare the dependency using `^` so that users can use Flower with future `1.x` Ray releases (`1.10

[2022-01-20 21:01] hei411 commented on #1002
Hi @kaiwang0112006!

Could you kindly provide us with more context for what you need PSI for?
There are various protocols to achieve PSI, so it would be ideal if you could tell us how PSI is used for your experiments, together with the details of your experiment, e.g. how many clients, will there be a trusted third party, is there a particular protocol you want to execute?

e.g. Tensorflow encrypt

[2022-01-20 21:09] hei411 commented on #907
Hi @kinshukdua
Homomorphic encryption is a general cryptography technique, and there are multiple ways of how it can be used for federated learning.

In the MNIST example provided by @sisco0, the homomorphic encryption is performed by three compute servers, and there is a distinction between model owners and prediction clients.

Alternatively, in https://developer.nvidia.com/blog/federated-learnin

[2022-01-21 07:23] kaiwang0112006 commented on #1002
Hi, @hei411 ,

First I have to clarify that I'm not an export on private computing, so I cannot provide the specific protocol to achieve PSI, or I should say any protocol is fine. To me, PSI is just a secure way to "merge" dataset from different hosts for vertical federated learning. The details of my experiment is that, host A have a dataset of 1100 samples containing sample id, feature1-10, and

[2022-01-21 11:11] SHAO-Jiaqi757 opened #1019 "android apk cannot be installed on android smartphone"
### Describe what the documentation is missing.

I have tried to install the demo android app on the Xiaomi/Huawei smartphone, but it is failed for inadaptation with the OS.

### Suggest your improvement.

_No response_

[2022-01-21 17:25] Samvid95 commented on #758
Yeah definitely.  I will take a stab on this and create a quick start example.

[2022-01-23 10:30] jafermarq commented on #1016
I was able to run the `simulation_pytorch` example with PyTorch 1.8.2 LTS, Ray 1.9.2 (the latests) and the latest flwr. I had no errors. I also run other of my projects that make use of the `RayClientProxy` without issues.

Maybe the only thing required is to raise the Ray version in the .toml?

[2022-01-23 21:11] JozefKondas commented on #904
I downloaded ubuntu image instead of Rapsbian and It's working

[2022-01-23 21:11] #904 closed

[2022-01-24 14:28] prathapkumarbaratam commented on #758
@Samvid95  hi samvid, Iam also working on that time series example. it would be great if we work together. connect me here : https://www.linkedin.com/in/baratam-prathap-kumar/

[2022-01-24 16:11] danieljanes commented on #1016
Thanks for giving it a shot @jafermarq , let's declare the Ray dependency with `^1.9.2` then.

[2022-01-24 18:20] danieljanes opened #1023 "Secure gRPC: Logging still reporing insecure connection"
### Discussed in https://github.com/adap/flower/discussions/1020

<div type='discussions-op-text'>

<sup>Originally posted by **NathanSchot** January 21, 2022</sup>
Hey,

My team and I have enjoyed working with flower for a few months now. We are very excited with the recent implementation of secure gRPC connections, as security is one of our main focus points.

I realise I may be a bit early (and

[2022-01-24 18:21] danieljanes commented on #1023
Thanks for the report @NathanSchot, appreciated! CC @tanertopal

[2022-01-25 08:41] tanertopal commented on #1023
@NathanSchot much appreciated! We will update that asap!

[2022-01-25 09:01] pl-ghost opened #1025 "integrate with Lightning ecosystem CI"
### Describe the type of feature and its functionality.

Hello and so happy to see you use Pytorch-Lightning! :tada:
Just wondering if you already heard about quite the new **Pytorch Lightning (PL) ecosystem CI** where we would like to invite you to... You can check out our blog post about it: [Stay Ahead of Breaking Changes with the New Lightning Ecosystem CI](https://devblog.pytorchlightning.ai/

[2022-01-25 15:00] #1023 closed

[2022-01-25 19:58] jafermarq opened #1026 "Add W&B example"
### Describe the type of feature and its functionality.

In a few of the projects I've been involved I found it quite useful to integrate [Weight&Biases](https://wandb.ai/site) in the FL training process. Would there be interest in adding an example using W&B to the `examples/` directory?

### Describe step by step what files and adjustments are you planning to include.

The idea would be to build

[2022-01-26 15:16] hei411 commented on #1002
If I am not mistaken, a PSI protocol is an extra stage before a normal federated learning protocol.
Currently, the API of Flower allows you to modify the federated learning algorithm, but it is unable to add an extra arbitrary stage.
I heard the developers are considering the possibility of providing an API that enables users to extend any FL protocol with extra stages, e.g. PSI.

[2022-01-27 16:20] mh-mahmoud opened #1032 "Different configuration parameters per client"
Hello,
Thanks for making this great work public.

How can I send different parameters for each client? for example, I want each client to run a different number of iterations.
Also, I want this parameter to be configured by the server.

currently, I am assigning an id for each client and running each client on a different machine.

I tried to modify the fit_confi on the strategy as below and then

[2022-01-30 07:23] sisco0 commented on #1032
As you pointed out, we currently have the next FitIns definition:

[code]

In this sense, we have already set our dictionary types for keys and values. In your case, you want every client to receive a different value, so you would rely mostly on the client manager for sending different FitIns to each client.

So, our current source code for the `configure_fit` function looks like this for _FedAvg_

[2022-01-30 07:36] sisco0 commented on #1019
In the `examples/android/client/app/build.gradle` file you could find the build configuration for the current package. The `targetSdkVersion` and `compileSdkVersion` is set to 29, which refers to _Android 10.0_. Also, check out this issue https://github.com/adap/flower/issues/930 where I suggest adding different platforms as targets:

[code]

All the information you need for solving the issue is q

[2022-01-30 07:55] ekaksher commented on #922
Hey, is this issue still open? If so I would like to work on it.

[2022-01-31 18:17] FractalGiraffe opened #1037 "Shouldn't operations on shared dictionary `clients` be synchronized in `SimpleClientManager.register` and `SimpleClientManager.unregister`?"
### What is your question?

Shouldn't  the lock, associated with `_cv`, be used to synchronize the operations on the shared dictionary in both `SimpleClientManager.register` and `SimpleClientManager.unregister`? Although [CPython currently makes critical built-in types implicitly thread safe](https://docs.python.org/3/glossary.html#term-global-interpreter-lock), Google's style guide for open sourc

[2022-02-01 01:26] #1037 closed

[2022-02-02 09:47] tanertopal commented on #1037
@FractalGiraffe was the question resolved? Feel free to ping me in Slack if not.

[2022-02-02 16:58] tanertopal commented on #766
@ycchiusieve is your issue still persisting? Did you resolve it at that time?

[2022-02-02 17:04] AnasKhann22 opened #1044 "XGBoost in Flower"
### What is your question?

Hi, I'm trying to implement XGBoost in Flower framework but it's giving me errors on setting initial parameters. Can someone please help me what is the issue?

model = XGBClassifier()
utils.set_initial_params(model)

[2022-02-04 08:46] tanertopal commented on #938
@shimst3r Closing this due to inactivity. Feel free to open a new issue if this still needs resolving.

[2022-02-04 08:46] #938 closed

[2022-02-04 09:06] tanertopal commented on #998
@VincentMag is your issue resolved?

[2022-02-04 12:17] shimst3r commented on #938
I totally forgot about the issue over the holidays, very sorry! The team solved the problem in the meantime, thanks for getting back to me though.

[2022-02-06 05:04] adaptcvdm opened #1047 "WEAKLY REFERENCED OBJECT NO LONGER EXISTS"
### What is your question?

Hello, first of all thank you for making such a wonderful library.
I recently updated my python environment to python 3.9 and I am facing this issue where either one of the clients or the server gives this error weakly referenced object no longer exists. But this error is very random, sometimes it occurs and sometimes the run is complete without any errors.

I have impl

[2022-02-06 18:47] sisco0 commented on #1047
Could you kindly share the error line? as it contains module information. Thank you.

[2022-02-07 11:34] AnasKhann22 opened #1048 "K-fold Cross Validation In Flower"
### What is your question?

How can we use k-fold cross validation in Flower? Do we have to apply it on client end or server or both?

[2022-02-08 05:27] zhanggyarcher commented on #815
@danieljanes Hello, may I ask you a question? Thank you!
I was running the `tensorflow_fashion_mnist`. What is the suggested number of clients?  Is it 5?

I am using RTX 3090 with 24GB ram, when I set the number of clients to 5, it will pop out the error of `CUDA out of memory`. If I change the number of clients to 2, it will pop out `ValueError: Sample larger than population or is negative`.

May

[2022-02-08 05:50] zhanggyarcher commented on #815
2022-02-08 00:49:32.989502: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library cudart64_110.dll                                                                                                INFO flower 2022-02-08 00:49:35,134 | app.py:77 | Flower server running (insecure, 3 rounds)                            INFO flower 2022-02-08 00:49:35,134 | se

[2022-02-08 08:20] IceQueen1996 opened #1052 "Flower with virtual machine not working"
### What is your question?

 Hi,
I relatively new to the new FL thing. I wanted to try out some of your qickstart tutorials. I'm using the following setup:
Host machine: Windows 10
Code development: Ubuntu Virtual Machine

So far i had never problems with my VM, but apparently now is the first time i can't solve the prblem on my own. When trying for example the tensorflow quickstart tutorial in wi

[2022-02-09 08:04] makhanov-nu commented on #920
Can anyone have a solution for this problem? It's been 2 months since the issue was created.

[2022-02-09 14:36] Saugatkafley commented on #1052
I am also facing Same issues with flower in Colab ,

[2022-02-09 14:43] Saugatkafley opened #1055 "_MultiThreadedRendezvous: <_MultiThreadedRendezvous of RPC that terminated with:"
### Describe the bug

I am using flower in Colab ,
starting the Client creates
`_MultiThreadedRendezvous: <_MultiThreadedRendezvous of RPC that terminated with:
	status = StatusCode.UNAVAILABLE
	details = "failed to connect to all addresses"
	debug_error_string = "{"created":"@1644417421.199890350","description":"Failed to pick subchannel","file":"src/core/ext/filters/client_channel/client_channel

[2022-02-10 05:02] adaptcvdm commented on #1047
![image](https://user-images.githubusercontent.com/88665972/153340511-3fa9bdb9-87ef-43c2-8987-784fc0083854.png)

[2022-02-10 05:10] adaptcvdm commented on #1047
![image](https://user-images.githubusercontent.com/88665972/153341206-8650a5cb-e194-4c23-9952-b99bc1aff3c0.png)

[2022-02-10 13:24] arghasen10 opened #1059 "Regarding shared layer Customization & Federated Transfer Learning"
### What is your question?

Although I am familiar with federated learning, I am not very much accustomed to the flower framework.

My question is can we customize the number of shared layers? Suppose my model consists of 5 layers. I want to share weights for the initial four layers but not share the last layer. Can we do that??

And suppose I want to initialize the server with some proxy data. Th

[2022-02-11 09:11] sancarlim opened #1060 "FedOpt strategies: Central model gives NaN after second aggregation"
### Describe the bug

When I use any of the FedOpt strategies (FedAdam, FedYogi, FedAdagrad) it seems very unstable, the model outputs NaNs after second/third aggregation.

### Steps/Code to Reproduce

**Strategy**:
[code]
I have tried with the default eval_fn and defaults fit and evaluate configs, and the behavior changes but still gives NaNs in the end.

**Dataset**: ISIC 2020 https://www.kaggle

[2022-02-14 06:27] jimazikerlan commented on #469
Hello everyone! I am currently using Flower and once I have started building the architecture with different components I have found the need to work asynchronously.

We would like to implement it in four  possible ways:
1.- As in the issue, apply computation results as soon as they come in. For example, a unique client asks for training so the server takes the model and computes new weights takin

[2022-02-14 08:17] pedropgusmao commented on #1060
Hi @sandracl72 ,
Thanks for this. I'm guessing you have already tried with `FedAvg` and it works, right?
Could you run a few tests for me, please?
In your [FedYogi](https://github.com/adap/flower/blob/main/src/py/flwr/server/strategy/fedyogi.py), could you please print the outputs of the following:

- `fedavg_weights_aggregate` in line 135
- `delta_t` in lines 136 and 140
- `m_t` in line 141 and 1

[2022-02-14 10:53] sandracl72 commented on #1060
Thank you for your answer @pedropgusmao . Yes, I've performed several experiments using FedAvg and never had this issue before.

Here you can access the output log: https://drive.google.com/file/d/1TWg7EgCHFbDMID7SaW78B1vNnfemWyjZ/view?usp=sharing

Thanks!

[2022-02-15 10:28] pedropgusmao commented on #1060
Hi @sandracl72, thanks for this.
From the log file I don't see a NaN on the prints, but only in;
 `File "/workspace/flower/src/py/flwr/server/strategy/fedavg.py", line 178, in evaluate`.
Could you try and remove the previous prints and just print `parameters` right at the beginning of this function instead please? https://github.com/adap/flower/blob/5fb4f9c1cd0070495049f45f382407e9d95166cd/src/py/

[2022-02-16 01:43] zhanggyarcher commented on #831
Hello @fanto88 , how did you solve this?

[2022-02-16 07:41] sandracl72 commented on #1060
Hi @pedropgusmao ,
I printed `sum([1 for w in weights if np.isnan(w).sum() ])` before the evaluation to detect if the parameters being evaluated have NaN, but apparently they haven't. This is the output log:

`INFO flower 2022-02-16 08:30:10,677 | app.py:109 | Flower server running (10 rounds)
SSL is disabled
INFO flower 2022-02-16 08:30:10,678 | server.py:118 | Initializing global parameters
INFO

[2022-02-16 08:14] FourWinds021 opened #1074 "About one client distributed training on multiple machine support and different deep learning framework support"
### What is your question?

I have two question:
1. Does a client support distributed training on multiple machine, such as two Nvidia-v100 machine?
2. Is there tutorials that support the new deep learning framework?

[2022-02-16 08:56] pedropgusmao commented on #1060
Hi @sandracl72 , I might be wrong, but could it be that evaluation is performing something weird? From the log I see
`INFO flower 2022-02-16 08:34:53,155 | fedavg.py:182 | Number of weights with NaN value: 0` right before evaluation actually starts.
Could you also use the same `isnan` method to print inside the https://github.com/adap/flower/blob/d80c8c2738b79badbc820f940efcd7fb4fff9503/src/py/flw

[2022-02-16 10:01] pedropgusmao commented on #1060
@danieljanes  this might be related to BatchNorm. Do you remember if we had any example with aggregation and batch norm?

[2022-02-17 08:35] sandracl72 commented on #1060
@danieljanes the weights aren't NaN before or after the aggregation, but after the forward pass (in the second evaluation round) the results are NaN. We thought it might be related to the BN, and now I have found that if I don't aggregate the "bn" weights, it works fine.

Changes:

[code]

[2022-02-17 11:36] prathapkumarbaratam commented on #1052
@IceQueen1996  , @Saugatkafley  use localhost in place of  [::]

[2022-02-17 11:39] prathapkumarbaratam commented on #1026
@jafermarq  hi , have you done implementation of basic pytorch example? if so .can you provide link for that?

[2022-02-18 11:33] IceQueen1996 commented on #1052
That does not help unfortunately.
A workaround which i found is the following (at least it worked for me, i cannot say how it is in google colab)
Workaround: Add chanel option about http proxy to insecure_grcp chanel with this option:
  1. Find file within your python environment: flwr/client/grpc_client/connection.py
  2. Add "("grpc.enable_http_proxy", 0)" as additional option to line 44:
    Ch

[2022-02-18 11:33] #1052 closed

[2022-02-19 14:27] jafermarq opened #1078 "Dirichlet distribution ignores random seed"
### Describe the bug

The utility function `create_lda_partitions()` can be used to partition an existing dataset given its number of classes and a user-defined concentration parameter. Ideally this partitioning would be deterministic, because this reason the script where that function lives fixes the Numpy random seed. However, because of the way the Dirichlet distribution is being created, that

[2022-02-22 13:01] danieljanes opened #1083 "Unify documentation to use `-` instead of `_`"
### Describe what the documentation is missing.

Some docs use `_` as the separator and some use `-`, for example:
- `https://flower.dev/docs/example_walkthrough_pytorch_mnist.html`
- `https://flower.dev/docs/example-mxnet-walk-through.html`

This is inconsistent.

### Suggest your improvement.

We want to unify all docs to use `-` ("minus") as the only separator. This involves the following TODO'

[2022-02-23 06:14] prathapkumarbaratam opened #1087 "Need FedProx,FedNOVA implementation using Flower"
### What is your question?

hi all, I want to use Strategies like FedPROX,FEDNOVA using Flower.

Thanks and Regards,
Prathap Kumar

[2022-02-27 10:50] pedropgusmao commented on #1060
This is being investigated, but for now, I'd recommend:
- Changing swapping `BatchNorm`s for `GroupNorm` layers.
- Make sure `grpcio==1.43` in `poetry.lock`. If not, run `poetry add grpcio==1.43`. This is related to https://github.com/ray-project/ray/issues/22518

[2022-02-28 05:26] sisco0 commented on #1087
The _FedProx_ baseline should be implemented as pointed out in https://flower.dev/docs/using-baselines.html. However, I could not find the cited folder `flower/baselines/flwr_baselines/publications/fedprox/system_heterogeneity` in any branch.
However, I could find the following reference when running `git log -i -G "FedProx" --all -r -p .`:
`src/flower/strategy/fedprox.py`

The cited file was incl

[2022-02-28 10:44] #1078 closed

[2022-03-01 10:16] danieljanes commented on #1060
Now that the 0.18 release is done there's more room to investigate this. @sandracl72 , would it be possible to have a repo that reproduces the error in a minimalistic way with Flower 0.18?

[2022-03-02 04:36] prathapkumarbaratam commented on #1087
hi @sisco0 , Can I able to use this Fedprox code for my experiments?

[2022-03-02 17:06] loukas371 commented on #998
worked for me and I had the same error running the pytorch example

[2022-03-05 19:14] g-pichler opened #1113 "Error when invoking start_numpy_client() more than once"
### Describe the bug

When invoking start_numpy_client() more than once within the same python interperter, this will yield an error when the clients passed to it do not have a get_parameters() method.

The culprit seems to be line 168 of `src/py/flwr/client/app.py`:
[code]
If this deletion is invoked a second time, an AttributeError is raised. Probably there is a more graceful way of dealing with

[2022-03-08 23:24] fanto88 opened #1120 "Sending different partition of dataset to each client"
### What is your question?

Hi all, i need to send different partition of a single dataset to each client, so that each client doesn't need to download the entire dataset and keep it in the memory and then using only a little partition of it.

I created a custom strategy and implemented the method configure_fit as follow:

    def configure_fit(
        self, rnd: int, parameters: Parameters, clie

[2022-03-11 08:57] zaikit commented on #999
Hello everyone,,
I got the same issue, I have set force_final_distributed_eval = True, but the problem still not solved.

The problem like this.
(jupyter_env) root@nsl:/home/nsl/Research/Jupyter/HAR/FL_Thermal/FL_Flower/FL_Thermal_7_Classes/2_Agents# python3 server.py
INFO flower 2022-03-11 16:18:40,064 | app.py:109 | Flower server running (3 rounds)
SSL is disabled
INFO flower 2022-03-11 16:18:40

[2022-03-15 12:39] marwanghalib commented on #804
Hello, I am also hitting the same issue. Any help please? Thank you

[2022-03-17 19:22] danieljanes commented on #1113
Thanks for the report @g-pichler. The current implementation is indeed not ideal, one additional drawback of the solution is a setup in which different client implementations - some with, some without implementing `get_properties` - are started in the same Python process. Because `get_properties` gets deleted from the class, it won't be available for those client that actually implement it.

The c

[2022-03-18 02:31] WrynnChou commented on #998
Thanks，it works.

[2022-03-20 18:51] #867 closed

[2022-03-21 13:07] Spraitazz opened #1137 "Cannot add class to config dict through on_fit_config_fn in FedAvg Strategy"
### Describe the bug

I want the server to send any new client the configuration files through the Strategy's on_fit_config_fn. The configuration dict returned by the function passed as argument to FedAvg (on_fit_config_fn) has a class (reference?) as one of the values, i.e.

config = {
            'nn_model': ResnetClassifierBone,
            'nn_params': {
                         'dim_input': n

[2022-03-21 17:54] g-pichler commented on #1113
Yes, starting different clients (with and without get_properties) is certainly also impossible at the moment.

I can see, that simply returning an empty dict in the `NumPyClientWrapper` if `get_properties` is not defined is not nice as `code=OK` would not be correct in this case. How would you feel about the following idea:

- Make the default implementation of `get_properties()` in both `NumPyCli

[2022-03-22 08:48] sandracl72 opened #1139 "SSL-enabled Server and Client Example"
### Describe what the documentation is missing.

[Guide: SSL-enabled Server and Client](https://flower.dev/docs/ssl-enabled-connections.html) refers to the example  [advanced_tensorflow](https://github.com/adap/flower/tree/main/examples/advanced_tensorflow) for SSL-enabled secure Flower server:

"A complete code example demonstrating a secure connection can be found [here](https://github.com/adap/

[2022-03-24 15:27] JozefKondas opened #1150 "Can't connect jetson nano to server running on azure"
### What is your question?

Hey I'm trying to run example from embedded_devices.... I can't connect my jetson nano to my server running on azure vm. It worked before but since I reinstall operation system on jetson. It stopped. I have no clue why.

my server:
`(fl18) dpkondas@dpkondas:~/server$ sudo python3 server.py --server_address 0.0.0.0:8080 --rounds 3 --min_num_clients 1 --min_sample_size 1

[2022-03-24 21:44] gubertoli opened #1152 "Exhausting computational resources with multiple fl.simulation.start_simulation runnings (ray)"
### Describe the bug

I have been working with the simulation package `fl.simulation.start_simulation`, and after tweaking some parameters and re-running the code it seems (by the error message) to exhaust the computational resources. Probably some kind of garbage collector required ?

During the try-outs, it seems that after a while it works again (probably some gargabe collection from the OS?)

[2022-03-24 22:04] JozefKondas commented on #823
I am facing similar problem.
@Nada-Bu  Have u solved yours ?

[2022-03-26 11:07] Divyanshupy opened #1157 "FIT_ROUND RECEIVED 0 RESULTS 10 FAILURES SIMULATION PYTORCH"
### Describe the bug

Hello, I am trying to port the simulation PyTorch example to PyTorch Lightning but I am getting fit_round received 0 results error. However, when using the same code without simulation in a client server setting is working without any error. I debugged the client's fit function and it is working as expected.

Thanks in advance.

### Steps/Code to Reproduce

class my_client(fl

[2022-03-27 02:08] felixthepuss opened #1158 "Support for Gradient-based FedAvg"
### What is your question?

Hi, thanks a lot for your contribution for this project. I wonder is there any possibility to implement the gradient-based FedAvg algorithm where clients upload the local gradients to the server, and then the server uses the aggregated gradient to update the global model. I checked out the source code and documentation and found out that it seems flower doesn't support

[2022-03-27 12:40] danieljanes commented on #1083
@RISHIKESHAVAN that would be awesome, please go ahead!

[2022-03-28 16:37] danieljanes opened #1163 "VCE does not handle missing `get_properties`"
### Describe the bug

Classes derived from `Client` and `NumPyClient` can decide whether they want to override `get_properties` or not, so `get_properties` is optional.

When using the gRPC-based Edge Client Engine (ECE), both `start_client` and `start_numpy_client` handle this optionality. See, for example, the message handler: https://github.com/adap/flower/blob/14b44a827cffa4b7128880ba729d7c53f

[2022-03-30 10:23] marwanghalib commented on #804
@Sylarair by forking the repo and adding some debugging logs, I was able to find that I needed to define an `eval_fn` in the `QFedAvg` constructor. Although it is an `Optional` parameter, it was still needed to avoid experiencing this error.

If you search for `QFedAvg` in the repo, you will find examples of how it is used.

Here is my fork: https://github.com/marwanghalib/flower. It includes some

[2022-03-30 14:03] RISHIKESHAVAN commented on #1083
Hi @danieljanes, I have created a PR for this. Please do take a look into it whenver possible.

[2022-04-01 19:18] danielemingolla opened #1168 "Code works only if runned on Jupyter Notebooks"
### What is your question?

Hi guys, I'm trying to run locally the example in this link https://flower.dev/docs/quickstart_pytorch.html
I premise that the code works perfectly and I have created 3 jupyter notebooks:
- a notebook with the server code
- 2 identical notebooks that simulate two different clients
The problem is that I have exported the notebooks in Python code and when I run the server

[2022-04-02 17:22] tusharvatsa32 commented on #1163
I installed flower using pip and it's throwing the
AttributeError: get_properties when I try to run the client.
Is the bug solved? If yes, how shall I proceed?

[2022-04-02 21:24] Saivenkatesh951 opened #1170 "Few_round _learning on Flower?"
### What is your question?

How to implement a Few Round learning paper using flower?
https://papers.nips.cc/paper/2021/file/f065d878ccfb4cc4f4265a4ff8bafa9a-Paper.pdf

[2022-04-04 14:30] kiedanski opened #1172 "Add support for timeout"
### Describe the type of feature and its functionality.

This should allow ignoring clients that take more than X seconds to finish.

### Describe step by step what files and adjustments are you planning to include.

This should be as easy as adding a parameter that gets passed in this line: https://github.com/adap/flower/blob/4c4d6458661988f9e1e5bbcf9118a4cf7989a02e/src/py/flwr/server/server.py#L

[2022-04-05 18:26] VasundharaAgarwal opened #1176 "Potential datatype mismatch in simulation_pytorch"
### What is your question?

Hi,

I noticed that in the simulation_pytorch example, we pass a function with return type `CifarRayClient` as the `client_fn` parameter in the call to `start_simulation` [here](https://github.com/adap/flower/blob/main/examples/simulation_pytorch/main.py#L189). This seems at odds with the definition of `start_simulation` [here](https://github.com/adap/flower/blob/4de97c

[2022-04-06 04:10] BrodyMcNutt commented on #1137
@Spraitazz Depending on what variable types are in the dictionary, you might be able to send it by converting it to bytes. On the server side you would have something like this:
[code]

Then on the client side you'd modify the fit function to convert it back to a dictionary:
[code]
While you still can't send  a user-defined class from the server to the client, if you have the class defined on both

[2022-04-13 14:13] Spraitazz opened #1182 "Running server and clients in GNU Screen terminals works unpredictably"
### Describe the bug

Hi, I am running flwr 0.18.0 from pip on Ubuntu 20.04.4 LTS. I can sometimes get flwr to work, running the server on one GNU Screen terminal and 3 clients on other 3 terminals.

I am using the basic setup, running the server with
fl.server.start_server(config={"num_rounds": 100}

and the clients with
fl.client.start_numpy_client("[::]:8080", client=cl)

if I kill the server (

[2022-04-13 20:45] sikhapentyala opened #1183 "Scaling DP-SGD MNIST example"
### What is your question?

Thank you for providing the framework!

I have a scenario where I have 100-1000 clients and I need to train a LR with DP-SGD in federated setup.
I have tried running the DP-SGD MNIST example (https://github.com/adap/flower/tree/main/examples/dp-sgd-mnist)
with 10,20, 50 and 100 clients. I could run the example up to 50 clients on an Azure F32sv2 servers (32 vCPUs, 64 GB

[2022-04-20 11:15] aayush9753 commented on #920
I am encountering the same problem. @phleungae  @makhanov-nu Have you found any solution?

[2022-04-23 10:59] ZhixiangWang-CN opened #1192 "How to saving history logs of the training process"
### What is your question?

When I trained the Federated model with the flower framework.
I was blown away by its ease of use.
However, there is still some problem I want to ask about whether it can be achieved:

whether it can save the training logs in the server,   cause after training I want to plot the different training losses and the accuracy of all clients, but I do not know how I can save

[2022-04-23 20:42] danieljanes opened #1193 "Support Python 3.11"
### Describe the type of feature and its functionality.

Python 3.11 will be released this year and we should support it as early as possible.

### Describe step by step what files and adjustments are you planning to include.

- `pyproject.toml`
- CI

### Is there something else you want to add?

No.

[2022-04-24 20:38] danieljanes commented on #920
@aayush9753 @makhanov-nu @dulicui @phleungae sorry for the issue you were experiencing, there was a transition period where the code examples did not fully match the version released at the time.

Could you try again? With Flower 0.18 released everything should work as expected.

[2022-04-24 21:15] danieljanes commented on #1137
@Spraitazz thanks for reaching out, your second comment is correct. The data types allowed in the config dict have been chosen to make it possible to build Flower clients in different programming languages. Data structures such as lists and dictionaries can also be challenging in that regard: Python allows to mix different value types in a single dict, but other languages are more restrictive, whi

[2022-04-24 21:19] danieljanes commented on #1139
Good catch @sandracl72, for some reason the PR hasn't been merged yet: https://github.com/adap/flower/pull/847 (it's almost ready though, CC @tanertopal)

[2022-04-25 17:47] #1083 closed

[2022-05-01 16:11] b856741 opened #1202 "ValueError in Tutorial"
### What is your question?

hi,when I tried your first tutorial "An Introduction to Federated Learning" in colab, an error showed up at "### Starting the training"
here is the screenshot https://ppt.cc/fRA3Bx
what should I do ?

[2022-05-02 08:35] pratik98 opened #1203 "How to measure Energy Consumption(kJ) for Android devices in Federated Training?"
### What is your question?

In one of the flower summit [talks ](https://www.youtube.com/watch?v=QJEX5c0y1I8), @akhilmathurs presents a slide which has details about energy consumption (kJ) of Android devices, I have gone through the Android Example source code but could not figure out how to get these energy consumption metrics. Is there any specific android app or utility which is being used to

[2022-05-02 11:41] tanertopal commented on #1202
@b856741  Just a guess but could you pass the `5` as `int(5)`?

[2022-05-03 09:42] thezizzler commented on #1202
I've had the same error, I was able to fix it by using Ray 1.10.0 instead of the latest version 1.12.0.
So just run `pip install -U ray==1.10.0` before running the rest of the notebook. (or simply add `ray==1.10.0` to the pip install of flower)

[2022-05-03 17:32] b856741 commented on #1202
it works, thanks

[2022-05-03 17:38] b856741 commented on #1202
I haven't and dunno how to try it, but it solved by changing ray version

[2022-05-06 20:41] Bhushankolpe commented on #356
sir the official implementation of secure aggregation is ready or not yet?

[2022-05-09 13:15] ceylanmesut opened #1207 "Increasing number of clients during FL simulation"
### What is your question?

Hi everyone,

I am wondering whether including more clients on top of the initial client amount during FL simulation is possible with the Flower framework. Currently, I initialize FL with 5 clients and I would like to add another 5 clients in the middle of total communication rounds.

It would be great to receive your comments on this case.
Thanks in advance!

[2022-05-11 16:59] Wolkenwandler opened #1210 "Unable to import module `ray`."
### What is your question?

When I run the code
[code]
I met this question:

[code]

[2022-05-11 17:59] ThinhOn opened #1211 "SIGABRT issue"
### What is your question?

I was trying to train a model with varying number of clients in each round. I got this error, I'm not an expert at C++ so I am not sure what that is. Could you please take a look and help me figure out the issues? I greatly appreciate it.

### Error snippet:

terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc
*** SIGABRT received a

[2022-05-11 19:51] danieljanes commented on #1210
Thanks for the question @Cloud-Rambler , did you `pip install flwr[simulation]`?

[2022-05-12 07:41] lepangdan opened #1212 ""failed to connect to all addresses""
##"failed to connect to all addresses"

hi, I have tried to run the example quickstart_pytorch, and encounter a bug shown as follows,
[code]
please help

[2022-05-13 08:30] #1210 closed, assigned to nobody

[2022-05-13 20:31] ZHTushar23 commented on #1212
Having the same issue with Raspberry Pi 400. "failed to connect to all addresses".

[2022-05-18 20:19] Scolpe commented on #1212
Hi lepangdan,

I had the same issue when I started to experiment with the Flower framework. As far as I've discovered, the issue may be arising due to the grpc insecure connection. May I ask about the environment in which you are trying to perform the test? Especially the OS.

What I may suggest and what has worked for me is installing WSL2 (if you are on Windows 10/11) and following the instructi

[2022-05-22 20:28] b856741 opened #1228 "Why do I get lower accuracy with more clients?"
### What is your question?

I tried to run example https://github.com/adap/flower/tree/main/examples/simulation_pytorch
and here is the result
when I run the code in default setting (pool_size=100)
the running time is 369 seconds and the accuracy is 0.423
(https://ppt.cc/f409ix)
and I change the pool_size to 1000
the running time is 2227 seconds and the accuracy is 0.1357
(https://ppt.cc/fUAXjx)
I

[2022-05-26 05:22] jimazikerlan opened #1234 "gRPC connection handling"
### What is your question?

I am trying to implement a real use case and I have been making some trials. Once the training process starts, if a new client asks for training to the server, the server collapses and stops the training without finishing the process. Is there any way of handling this? I found the following in the GRPC documentation:
[https://github.com/grpc/grpc/tree/master/examples/py

[2022-05-26 11:14] akhilmathurs commented on #1203
@pratik98, sorry for the late reply. The energy consumption was measured with a Monsoon Power Monitor. If you prefer to do it in software, please look at the BatteryManager API https://developer.android.com/reference/android/os/BatteryManager.

For the Nvidia Jetson devices, you can refer to the power monitoring code here: https://embeddeddl.wordpress.com/2018/04/25/convenient-power-measurements-o

[2022-05-27 08:45] emrekapusuzz opened #1235 "How to use custom data for real life problems?"
### What is your question?

I am wondering if i can use different data rather than cifar, mnist etc.

[2022-05-27 22:19] foghlaimeoir opened #1236 "Tutorial notebooks with Colab GPU: 'No Cuda GPUs are available'"
### What is your question?

The tutorial Jupyter notebooks set the device as "cpu" by default and everything runs fine on Colab. After setting torch.device("cuda:0"), running the simulation gives 'RuntimeError: No CUDA GPUs are available' despite torch.cuda.is_available() being True in the notebook itself.

I am too much of a novice to make sense of the error message, I've tried downgrading ray fr

[2022-05-28 18:37] foghlaimeoir commented on #1236
This was resolved by adding client_resources={"num_gpus": 1} as a parameter in start_simulation, to allow each virtual client to access the GPU.

[2022-05-28 18:37] #1236 closed

[2022-05-29 16:41] danieljanes commented on #1234
Thanks for reaching out @jimazikerlan, what you're describing sounds like a bug. Could you provide a minimal code example that we can use to reproduce the issue you're describing?

Clients are able to join and leave the server at any point in time. If a new client joins, it'll have to wait until the current round is finished, and it might then be selected to receive a task during the next round of

[2022-05-31 07:47] zithasasindran opened #1239 "Connection Issue using TF"
### What is your question?

Hi there,

I am encountering the following error every time running the TensorFlow quickstart code, even after trying a few hacks explained in the issues posted in https://github.com/adap/flower/issues/648 & https://github.com/adap/flower/issues/537

grpc._channel._MultiThreadedRendezvous: <_MultiThreadedRendezvous of RPC that terminated with:
	status = StatusCode.UNAVA

[2022-06-01 09:28] danieljanes commented on #1113
Sorry for the late reply @g-pichler, re-posting my reply from PR #1138 for future reference:

Thanks for mentioning the issue about "multiple clients simultaneously in threads", would be great if you could open a dedicated issue for it to keep the discussion threads focused :)

[2022-06-03 11:15] #1203 closed

[2022-06-05 19:59] sjayarammtech opened #1244 "Flower server and client communication issue"
### What is your question?

Hi,
I have set number of rounds for server end as 2. num_rounds=2.
I started the server, then starts two clients.

Each client closed after one round,but server keep listening.
The client side error msg is,

I restarted the clients after that. After 2 restarts, clients shows successfully completed the run, and server shows the results as follows,
[code]

[2022-06-05 20:12] Scolpe commented on #1244
The server.py should be independent of the client.py - if the clients disconnect, the server will still be listening.

It is hard to say why the client is disconnecting without looking at your exact code. As far as the error message suggests, the problem occurs at the NumPyClient.fit stage - so perhaps something wrong is happening with the model fitting. Further examination would require the sourc

[2022-06-06 15:01] chongshenng commented on #1139
Hi @danieljanes / @tanertopal, just wondering about the status of the PR and whether it's merge-ready? I'm interested in this documentation on the SSL-enabling. Thanks!

[2022-06-08 12:26] sjayarammtech commented on #1244
HI,
thank you.
I modified the numpy_client.py inside flwr->client as ,

1) commented at Line: 196
[code]
After commenting, now client runs all rounds without breaking.
 2) If I am not commented, client initially throws error as follows,

  Looks like without first fit , client return None or empty tuple. So, control goes to  client->grpc-client->connection.py exception block (at Line:118 try: {}

[2022-06-08 12:35] sjayarammtech opened #1245 "Whether server sends updated weights at each round to client or not?."
### What is your question?

Hi,
I am using sklearn FL server-clients connection.
Using 3 clients.
Number of rounds =10
My doubt is,
1) Whether server get weights from all clients at each round, then aggregating the weights using FedAvg, then send the updated weights to all clients at end of that current round (say, round 1).
or
2) Server is waiting for all round to finish ,then send the aggregated

[2022-06-09 10:06] EliasBrohammer commented on #1212
I had this issue too, but found a way to fix it.
My setup looks like this:
1. Docker image with ubuntu 20.04 with an exposed port (like 8080)
2. open three container of the image
3. in my server script i get the ip address via
[code]
4. in my client script I set the ip address of the server
[code]

I'm using the sklearn example.
Hopefully this helps someone.

[2022-06-09 10:12] EliasBrohammer opened #1246 "Trying to use sklearn Gradient Boosting Classifier"
for some day's now I try to implement gradient boosted tree's with flwr. I tried the [example](https://github.com/adap/flower/tree/main/examples/sklearn-logreg-mnist) given. Here you use a LogisticRegression Model for the classification of MNIST, which works in my setup.

This is where my problem arise: Simply replacing the sklear.linear_model.LogisticRegression model with the sklearn.ensemble.Gra

[2022-06-09 12:39] ziyoujiyi opened #1247 "how to support Paddle?"
### What is your question?

https://github.com/PaddlePaddle/Paddle
hope for response  thanks

[2022-06-09 14:21] gquittet commented on #699
@jithishj

Remove the `export` keyword, as it is used to define an `environment variable` in `bash`.

So, you just need to define:

[code]

[2022-06-09 23:10] gubertoli commented on #1152
I did tests with flwr 0.19.0. If trying to execute two consecutive simulations (fl.simulation.start_simulation), similar error (exhausting computational resources) arise:

[code]

It works if after first simulation I restart the notebook kernel and run the second simulation.

[2022-06-10 02:33] gubertoli commented on #1246
@EliasBrohammer the GradientBoostingClassifier does not have the coef_ atribute, looking to the sklearn API, probably the [get_params method](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingClassifier.html#sklearn.ensemble.GradientBoostingClassifier.get_params) may be useful.

[2022-06-10 11:22] EliasBrohammer commented on #1246
@gubertoli thanks for the suggestion, but that function returns the (hyper-) parameter like `n_estimators`.
I'm diggin through the documentation and hopefully find something I can work with.

[2022-06-13 16:43] #585 closed

[2022-06-13 17:02] tanertopal commented on #1047
@adaptcvdm unfortunately its hard to debug using this.  Could you share a repository?

[2022-06-14 01:23] lionyouko opened #1256 "How to Make a Worker an instance of another program?"
### What is your question?

I want to have a worker that runs an agent of reinforcement learning that is itself another python script running.

Suppose I have the agent programmed, and I want to pack it inside a worker instance to be used by flower (imagine that I will comfort with some interface worker must have). How do I do that?

For example, I want to have a worker that is a reinforcement lea

[2022-06-18 04:47] helloworld1973 commented on #493
similar problem when I hope to start 40 clients in the same time in the same machine, however only 25 clients work

[2022-06-20 07:50] Niclouge opened #1262 "Sklearn examples parameters initial problem"
### What is your question?

Hi, everyone~
I'm a newer in flower.
When I run the sklearn example, I got a initial parameters problem.
The traceback show the problem is "ValueError: Found array with 0 sample(s) (shape=(0, 4)) while a minimum of 1 is required."
![image](https://user-images.githubusercontent.com/44387768/174550589-75d37334-3b54-4c4f-a23a-1f949922c4c7.png)

When I debug the code, I fou

[2022-06-20 07:53] Niclouge commented on #1262
![image](https://user-images.githubusercontent.com/44387768/174551984-c2d09a3d-e052-425a-9fd1-ec87d123ff1e.png)
It's the line of code in the picture, I can't find the reason, self.parameters is a binary value, I don't know if the problem is here
![image](https://user-images.githubusercontent.com/44387768/174552487-55a1f582-e040-460b-8ee2-ea07d1486b27.png)

[2022-06-20 21:24] niyotham commented on #469
Hi @danieljanes,
As mentioned above, we can  implement `async `   through `Server.fit.`
Because `Server.fit `currently implements `sync FL`
You suggested that I can change the `fit method `to perform `async FL` by subclassing `Serve`r `(class AsyncServer(Server): ...(override fit)`

I  read through `flwr.server.Server.fit` to see how sync FL is implemented (looping over the rounds, …) to change it

[2022-06-29 09:06] koo-ec opened #1269 "Tree-based Models - Example"
### Describe the type of feature and its functionality.

Could ypu please provide a starting point code for tree-based classifiers (such as random forest)?

### Describe step by step what files and adjustments are you planning to include.

I have seen the logistic regression example from sk-learn, however, as trees do not use gradients and the parameters are different. A starting point notebook is

[2022-06-29 20:32] its-arsalan commented on #1044
Having the same issue. Have you found the solution yet?

[2022-06-29 20:41] its-arsalan opened #1270 "Unable to Implement sklearn models other than LogRegression"
### What is your question?

I have seen an example of implementing Logistic Regression and successfully implemented it as well. But now I want to implement other sklearn models, for example, Decision tree, XGBoost etc but unable to do so.

Any suggestion or help would be much appreciated.

[2022-07-04 14:03] FREDERICO23 opened #1275 "I'm getting an **NumPyClient.fit did not return a tuple with 3 elements.** error when I run `client.py` file. What could be the problem."
### What is your question?

INFO flower 2022-07-04 15:27:37,301 | connection.py:102 | Opened insecure gRPC connection (no certificates were passed)
DEBUG flower 2022-07-04 15:27:37,323 | connection.py:39 | ChannelConnectivity.IDLE
DEBUG flower 2022-07-04 15:27:37,389 | connection.py:39 | ChannelConnectivity.CONNECTING
DEBUG flower 2022-07-04 15:27:37,708 | connection.py:39 | ChannelConnectivity.RE

[2022-07-05 01:34] hy101 commented on #1275
I encountered the same problem. Change the return type of get_model_parameters from tuple to list.

[code]

[2022-07-05 02:04] lmaxeniro commented on #1275
@hy101 Thanks this fixed my problem.

[2022-07-06 06:45] FREDERICO23 commented on #1275
Problem fixed. Thanks @hy101

[2022-07-06 06:45] #1275 closed

[2022-07-07 16:15] niyotham commented on #469
@danieljanes could you elaborate a lit bit more on the third point about scheduling the new client instructions (`FitIns`, ...)?

[2022-07-14 07:16] Nawrin14 opened #1287 "How to set server IP and server port in android?"
### What is your question?

Hi. Can I get some guidelines for setting the server IP and port in the android app? The server is running on my laptop and the app is running on my android device. But I can't set a connection between them. Is it possible to provide some step-by-step instructions like, 1. change the server address in server.py 2. test the connection, etc. Any help is appreciated!

[2022-07-17 11:08] danieljanes commented on #1139
Thanks for reaching out @chongshenng, the PR has been merged a while ago and there's also documentation on flower.dev:
- `advanced_tensorflow` code example demonstrating SSL-enabled connections: https://github.com/adap/flower/tree/main/examples/advanced_tensorflow
- Docs: https://flower.dev/docs/ssl-enabled-connections.html

[2022-07-17 11:09] #1139 closed

[2022-07-17 16:00] danieljanes opened #1302 "Improve code examples"
### Describe the type of feature and its functionality.

There's room for improvement when it comes to the general structure of our code examples. Issues include:
- inconsistent naming of code examples across different frameworks
- multiple code examples covering the same topic in different ways
- at least one obsolete code example
- inconsistent naming: `-` vs `_`

### Describe step by step what

[2022-07-24 08:27] danieljanes commented on #868
PR: #1320

[2022-07-27 12:01] chongshenng opened #1337 "Numpy and Flower 0.19.0 version conflict on RaspberryPi 4"
### Describe the bug

After installing `flwr` and `tensorflow-aarch64` on RaspberryPi 4 as the client, the client fails to execute with the error message `module compiled against API version 0xf but this version of numpy is 0xe`.

Interim solution is to force a numpy upgrade to version `1.23.1`.

### Steps/Code to Reproduce

Client hardware:
* Raspberry Pi 4 Model B

Server:
* Azure VM

With Pytho

[2022-07-27 17:12] nkakouros commented on #815
This seems fixed in later versions and the issue could be closed:

https://github.com/adap/flower/blob/b850b50dbd531fbbef160ff0e30244570fb55288/src/py/flwr/server/client_manager.py#L141-L149

[2022-07-28 16:05] edogab33 opened #1343 "quickstart_pytorch_lightning is outdated"
### Describe the bug

As the title suggests, this example has not been updated to flower 1.0.0. I will make a pull request with my proposed changes.

### Steps/Code to Reproduce

sh ./run.sh

### Expected Results

The code should run without errors.

### Actual Results

Running the .sh script raises a number of problems.

[2022-07-29 11:49] gxenos opened #1346 "sklearn-logreg-mnist example is outdated"
### Describe the bug

The sklearn-logreg-mnist example is outdated and does not work with flower 1.0.0. I will make a pull request to fix this.

### Steps/Code to Reproduce

sh ./run.sh

### Expected Results

The example should run with no errors, both on the client and on the server.

### Actual Results

Number of errors arise when the script runs.

[2022-07-29 15:11] danieljanes commented on #1337
Thanks for the report @chongshenng . Flower 0.19 had some NumPy version restrictions in place that prevented package managers from installing the latest NumPy version. These restrictions are gone with Flower 1.0 - could you try to rerun it with Flower 1.0?

You're probably aware of this, but I'll mention it just in case: `flwr>=0.19.0` will not install Flower 1.0 because jumps in 0.x minor version

[2022-07-29 15:13] danieljanes commented on #868
Shipped with Flower 1.0

[2022-07-29 15:13] #868 closed

[2022-07-29 15:19] danieljanes commented on #1247
Thanks for reaching out @ziyoujiyi ! Great question, we should at least add a quickstart code example (incl. documentation). Would you be willing to contribute? If we have someone who's used Paddle before then I'm optimistic that we can make it work without too much effort.

[2022-07-29 15:36] tanertopal commented on #1287
@Nawrin14

1. Use as server address the same as in all examples: `0.0.0.0:8080`, which tells the server to listen on all interfaces / for all hosts
2. Ensure your router in your WIFI network allows communication between devices (check your router settings)
3. Ensure your Phone can reach your server on port 8080, e.g. test by starting a file server first and see if you can reach a website from your